[2017-10-07 21:24] l2airj opened #1 "Control"
Just  adding more to the Antminer-Monitor I would like to add there a reboot action for each Antminer assuming that user: root password: root as default and saved So we can root the miners from that option

[2017-10-08 00:17] babycicak commented on #1
I think display of Miner Speed is important too. To ensurre all miner is healthy.

[2017-10-08 08:41] anselal commented on #1
@babycicak Can you open a new issue about this ? Please keep requests as separate issues. This will help us a lot. Thank you !!!

[2017-10-08 08:41] anselal commented on #1
@l2airj I will add this in future releases. You will be informed via email when this issue is fixed. ;)

[2017-10-08 08:53] l2airj opened #2 "Board Temperature Order"
I notice that the board temperature is not in the same order as it is on the miner that will be great if it can be fix so We can know which board exactly is heating up

[2017-10-08 08:58] anselal commented on #2
@l2airj I have noticed that too. I thought that it wouldn't mind the user. It was not so easy to implement but since you are asking for, I will do my best to not let you down. We have the same issues with the fan speeds, the hash speed (feature release).

[2017-10-08 09:58] babycicak opened #3 "Hashing Speed"
Please add in the hashing speed for this application. It will be usefull if you control over 50-100 miner. And also set the highlight once it's under speed.

Plus the reboot command too, easy for miner to softboot easily.

[2017-10-08 10:08] anselal commented on #3
Will do the hashrate right away + a total hashrate grouped by miner model.

[2017-10-08 10:33] #3 closed

[2017-10-08 11:09] babycicak opened #4 "top hashing speed is wrong"
![screenshotatuploadcc_1507460802016](https://user-images.githubusercontent.com/32588502/31316233-1c377482-ac5c-11e7-868f-e213259ac2e8.png)

[2017-10-08 11:18] anselal commented on #4
Strange. Let me check that for a minute

[2017-10-08 11:32] #4 closed

[2017-10-08 11:33] anselal commented on #4
Fixed. Thanx for the feedback.

[2017-10-08 14:57] #2 closed

[2017-10-08 14:57] anselal commented on #2
Fixed. Please check and if any errors you can reopen this issue

[2017-10-08 18:02] l2airj opened #5 "Remarks not displayed on active miners"
I would like to inform you that Remarks on any add does not show

[2017-10-08 23:49] #5 closed

[2017-10-08 23:49] anselal commented on #5
Fixed

[2017-10-10 10:54] babycicak opened #6 "sorting"
please sort the miner by ip

Thank you.

[2017-10-10 11:11] anselal commented on #6
@babycicak I thought of doing the fields sortable. I will see what is the best to do and come back with more options !!

[2017-10-14 08:15] babycicak opened #7 "Auto Ip Scanner"
hi bro, i want to request auto ip scanner for this program. It's useful if you running a big farm, just one button can auto add in all the model sort by ip.

[2017-10-19 09:17] anselal commented on #6
Fixed 0ceb71fb2625e7f1a7a6bb6518ad968a5ddaed9f: Sort miners by IP

[2017-10-19 09:17] #6 closed

[2017-10-23 09:23] anselal commented on #1
I found out how to remotely reboot/shutdown the miners. I want to do some tests to be sure if works fine.
But before I merge the code I think it is a good idea to implement a login screen for security. What do you think @l2airj @babycicak ?

[2017-10-23 09:26] babycicak commented on #1
Bro,  I love too,  but I'm still on travel,  maybe after next week will be
OK!

Simon Lau
+6012 8877 628

On Oct 23, 2017 6:23 PM, "Anastasios Selalmazidis" <notifications@github.com>
wrote:

[2017-10-23 11:48] l2airj commented on #1
That is the best I wish that can be a login password at least

[2017-10-24 22:22] anselal opened #8 "HW Errors"
Many users have request to add HW Errors to the table. According to http://cryptomining-blog.com/tag/hw-error-formula/ the formula for calculating the HW Errors is `HW / (diffA + diffR + HW) * 100`. Cgminer does not provide that info in JSON format but I found out that there is a key named `Device Hardware%` which is exactly what we are looking for !!!

[2017-10-24 22:24] anselal opened #9 "Uptime"
Another nice feature would be to add the uptime in the Active-Miners table. This is actually pretty straight forward. I only need to convert the seconds to a more human readable format using the `datetime.timedelta` function.

[2017-10-24 22:37] #8 closed

[2017-10-24 22:43] #9 closed

[2017-10-25 00:10] anselal opened #10 "Python 3.6 throws NameError: name 'unicode' is not defined"
The detailed traceback can be found at https://gist.github.com/anonymous/fef4d8c413ab2517aaebb38a09affb2b
This is because Python 3 renamed the `unicode` type to `str`, the old `str` type has been replaced by `bytes`.

[2017-10-27 20:37] anselal opened #11 "CHANGELOG compare/v0.1.0...v0.0.3"
There is a typo in the CHANGELOG, specifically the compare statement `https://github.com/anselal/antminer-monitor/compare/v0.1.0...v0.0.3` should be `https://github.com/anselal/antminer-monitor/compare/v0.0.3...v0.1.0`

[2017-10-27 20:43] anselal opened #12 "<th>HW Errors</th>"
The table header `HW Errors` should actually be `HW Error Rate`

[2017-10-27 20:56] anselal commented on #12
Besides the table header we should add a % next to the value since it is a rate

[2017-10-27 20:57] #11 closed

[2017-10-27 21:06] anselal commented on #12
Better rename `HW Errors` to `HW Error Rate %`

[2017-10-27 21:11] #12 closed

[2017-10-27 21:26] anselal opened #13 "Wrong screenshot in version 0.1.1"
Screenshot in version v0.1.1 shows 0.1.0

[2017-10-27 21:38] #13 closed

[2017-10-30 08:38] anselal opened #14 "Auto-refresh"
It would be nice to have an auto-refresh feature, maybe even a counter like in the screenshot below.

![antminer-monitor_auto-refresh-feature](https://user-images.githubusercontent.com/8732668/32161447-3c637df6-bd5e-11e7-9c54-0cda443a51c2.png)

[2017-10-30 08:41] #14 closed

[2017-10-30 10:00] babycicak commented on #14
I love this idea!

[2017-10-30 10:08] anselal commented on #14
I set the time interval to 120 seconds

[2017-10-30 10:34] babycicak commented on #14
if you can auto restart those miner where chips XXXX  will be even more better :D

[2017-10-30 10:37] anselal commented on #14
@babycicak open a new issue about that and I will comment there ;)

[2017-10-30 10:55] babycicak opened #15 "Auto Restart"
i hope it will be auto restart function on this software, once the page is refresh and if any running chip XXXXX it will be auto restart for them.

[2017-10-30 11:13] anselal commented on #15
Auto-features like this should be added only when the admin interface is ready. The user shall have to option to turn such functionality `on & off`.
I am concerned about the reason you wanna auto-restart the miner. The `Xs` usually mean a broken ASIC chip. Every `X` represents a broken/burned chip. Rebooting the miner will not fix this issue. Do you agree ??

[2017-10-30 11:22] babycicak commented on #15
No. XXX is failure of PSU or sometime not enough 12V+, Restart the miner will help. My current D3s having this issue.

If chip is broken, it will display ----- or not display anything.

I think im correct.

[2017-10-30 11:30] anselal commented on #15
@babycicak Check this out https://bitmainhelp.zendesk.com/hc/en-us/articles/220872007-Possible-problems-for-Antminer-Troubleshooting-for-S7-S9
According to issues  3&4 the `X` means damaged chip.
According to issue 5 a lot of `-` mean instability of the power supply voltage or defective hash board.
I will add `-` to the table though.

[2017-10-30 11:33] babycicak commented on #15
Yes, i read that too just now. But, i speak from my experience.
Maybe manual restart is better in this case.  :D

[2017-10-30 11:34] anselal opened #16 "Add chip status '-' to the table"
Besides `X` and `o` as the chip's status there is also the dash `-` which means instability of the power supply voltage or the defective hash board

Source: https://bitmainhelp.zendesk.com/hc/en-us/articles/220872007-Possible-problems-for-Antminer-Troubleshooting-for-S7-S9 , issue 5

Rebooting the miner may sometimes fix this issue although it is not a permanent solution !!!

[2017-10-30 11:36] anselal commented on #15
@babycicak I opened a new issue to add the info about the dashes `-` to the table. Maybe manually rebooting the miner is a better solution, although I can add a notification about that part. For the moment I close this issue.

Thank yo u for the feedback !!

[2017-10-30 11:36] #15 closed

[2017-10-30 11:38] babycicak commented on #16
Reboot is helping when you're travel away/ or cant access the farm immediately. Maybe just trace the total working chips as the software did is the best solution. + add the Manual Reboot button.

[2017-10-30 12:43] anselal opened #17 "Custom 404 error page"
I am thinking in adding a custom 404 error page that I found and really liked.
Since we don't have a logo for the AntminerMonitor yet I think it is OK if we add an irrelevant image.

I could really need some feedback on that.

![404](https://user-images.githubusercontent.com/8732668/32171266-3beff7ce-bd80-11e7-9b04-97391edfcc1e.jpg)

[2017-10-30 22:16] #16 closed

[2017-10-30 22:30] anselal opened #18 "Typo in fieldset name"
There is a typo in the name of the fieldset
https://github.com/anselal/antminer-monitor/blob/46d6a8ea02a4a75ac2fcb028f75cc42b1a9d523e/app/templates/myminers.html#L155

[2017-10-30 22:31] #18 closed

[2017-10-31 09:26] babycicak opened #19 "Error by Email"
Maybe in future, can add in the Selected Error type and allow send notify via Email in set timer. Will be good, no need to login system to check everytime ;)

[2017-11-04 06:12] writzoner opened #20 "Could not open requirements file: [Errno 2] No such file or directory: 'requirements.txt'"
This is occurring during the pip install -r requirements.txt initialization.

 $ wget https://github.com/anselal/antminer-monitor.git
--2017-11-04 01:59:12--  https://github.com/anselal/antminer-monitor.git
Resolving github.com (github.com)... 192.30.253.112, 192.30.253.113
Connecting to github.com (github.com)|192.30.253.112|:443... connected.
HTTP request sent, awaiting response... 301 Moved Per

[2017-11-04 07:03] anselal commented on #20
Hi there,

you are doion it all wrong. You don't wget the .git file.
Either `git clone https://github.com/anselal/antminer-monitor.git`
or
`wget https://github.com/anselal/antminer-monitor/archive/master.zip`

[2017-11-04 10:37] writzoner commented on #20
awesome, thanks! it worked like a charm!
(running it on a rPI)

[2017-11-04 10:37] #20 closed

[2017-11-05 09:47] babycicak opened #21 "D3 issue"
D3 really a lot problem, it will be great if can apply this code in to system.

https://gist.github.com/tperalta82/6e11253cd4b9cf9c5c6fa15bbf046d4f

; D

[2017-11-05 22:54] gnanet commented on #21
I am using a check code in php on a local webserver, which get checked by url with m:monit and a php code which does an ssh restart of cgminer.sh if too much X-s are there

[2017-11-05 23:03] babycicak commented on #21
that's great of you! by having xxx is the D3 fault, poor programming. I hope this auto restart will be add in new features of this software soon.

[2017-11-06 07:21] anselal commented on #21
After a conversation with @babycicak he pointed me to this thread https://bitcointalk.org/index.php?topic=2198580.20
A user (`seizu`) claims that the errors are caused because bitmain overclocked the D3s. The first batch came with 15GH/s and other batches followed with 17GH/s and 19GH/s. When he underclocked the D3 to its original frequency at `437` all the errors where gone.
Another thing I talke

[2017-11-07 00:06] gnanet commented on #21
following applies mostly to the procedures prior knowing that a default-clocking may help:
For this part we use [monit](https://mmonit.com/monit/) where we can define
`if 6 restarts within 18 cycles then unmonitor`
Where **cycle** means 300 secs, **restart** means only restart the cgminer (over ssh, or the api if it allows this request), and we send an alert on unmonitor which means we have to che

[2017-11-07 10:03] anselal opened #22 "Hash rate not showing up correctly"
The cgminer-api returns the hashrate of the miner as "GHS 5s" and I named the cell accordingly to that.
But the hashrates for the L3+ and D3 are actually returned in MH/s.
This error will probably be fixed in the next release

[2017-11-07 11:49] anselal commented on #21
@gnanet I am aware of monit but it runs only on POSIX systems (Linux/UNIX). We have many Windows users running this app.
If we find a good solution for this problem I can add it to the app.
Currently I am prompting users to downgrade their D3 and I am awaiting feedback to see if it actual fixes those errors.
So far one user downgraded and gave positive feedback.

[2017-11-07 22:37] gnanet commented on #22
Thank you for noting this.

i also noticed that minerStatus.cgi of antminer D3 is talking about
**MH/S(RT)** and **MH/S(avg)**
**17,139.8** and **17,507.59**

while the api response to **stats command** of cgminer itself says:

This was collected from:

This is a mis-labeling in the cgminer-api, i think, because [bitmain itself is talking about 15GHS not 15000GHS](https://shop.bitmain.com/productD

[2017-11-07 22:41] anselal commented on #22
I don't know why no one hasn't noticed it so far, not even me :smile:

[2017-11-07 23:31] gnanet commented on #22
interesting to note, i used the miner.php to start up with some summarized status page, and exactly because of this labeling issue no MHS or GHS columns were shown by default, and after i changed some strings from MHS to GHS those columns were shown, but i didnt realize that this was a mis-labeling. Now i went trough the whole source of miner.php, and done some number_format , divided by 1000 etc

[2017-11-09 10:49] anselal commented on #21
Bitmain released a new firmware for the Antminer D3 which fixes the issue that some miner's chip status is 'x' after running for several hours or days.
https://shop.bitmain.com/support.htm?pid=00720170915192851224mJ36J1ap066E
I am closing this issue since the reboot feature is requested in #1

[2017-11-09 10:49] #21 closed

[2017-11-09 16:20] 45drive45 opened #23 "Add DNS lookup and connect with port number"
Enable DNS lookup so that this awesome software can connect via the internet to miners that have port forwarding enabled on firewalls

Example:
Instead of IP, we can state miner01.mycompany.net:8081
I assume that this monitor is connecting via port 80, so all we have to do is portforward port 80 on our router.
Then this would be a super super awesome software as you can monitor remotely your minin

[2017-11-09 19:23] nullwriter opened #24 "Miners not being detected as active?"
Heya, I tried adding my S9's but they are shown as inactive with Error: Check connection or IP Address?

Also, for the T9s should we add them as S9?

When i run pycgminer.py with the ip of one of the miners, I do get a response from it:

`{u'STATUS': [{u'STATUS': u'S', u'Msg': u'BMMiner stats', u'Code': 70, u'When': 1503889968, u'Description': u'bmminer 1.0.0'}], u'STATS': [{u'Type': u'Antminer S9

[2017-11-09 19:42] gnanet commented on #23
@45drive45 monitoring solutions like this one are accessing the API of cgminer, which defaults to port 4028. Forwarding the web-gui port is not a good idea, because if someone can bruteforce, or wiretap your user/pass, then he gains full access, while the API allows a fine control of access rules to the specific areas, and differentiates between read and write operations.

Anyways if you have a se

[2017-11-10 07:02] anselal commented on #24
Are you sure you enter the IP address correctly ? Just add the IP without any port number and be sure to remove and whitespaces. This is strange though since you get an output from the command line. If the above doesn't fix your issue you can send me an email and we can connect with TeamViewer so I get a look at your setup.
To add support for the T9 I'll need some info. Can you open a new issue wi

[2017-11-10 07:30] anselal commented on #23
@gnanet Thnx for answering to our friend !! Actually you can restrict the access of the Cgminer API to only one address if you want ;)

@45drive45 From what you say I conclude that you didn't run my app. The app listens to port 5000 by default which you can change of course. As @gnanet already said it is not a good idea to forward any connections directly to your miners. I think you understand tha

[2017-11-10 09:36] 45drive45 commented on #23
Hi,

I did run your app locally and also tried remotely. I really like the information presented. Thank you very much for both your advice.
I will try out the Rasberry pi advice.

[2017-11-10 09:36] #23 closed, assigned to nobody

[2017-11-10 11:31] anselal commented on #24
I found the info I need to add support for the T9. If you add the T9 as S9 you will get some errors since the T9 has fewer chips than the S9, so the warning will indicate that some chips are missing.

I will add support for the T9 probably in the next release

[2017-11-10 13:26] #22 closed

[2017-11-10 15:57] nullwriter commented on #24
@anselal Here's a screenshot. I want to note I'm running this in python 3, not sure if its what's expected to run well, as you state python 2 to run it.

<img width="1116" alt="screen shot 2017-11-10 at 11 40 45 am" src="https://user-images.githubusercontent.com/3685440/32666506-19db1ef4-c5e4-11e7-8196-670eb000607a.png">

[2017-11-10 16:01] nullwriter opened #25 "Antminer T9 support"
Heres the output for pycgminer.py of my T9:

`{u'STATUS': [{u'STATUS': u'S', u'Msg': u'BMMiner stats', u'Code': 70, u'When': 127916, u'Description': u'bmminer 1.0.0'}], u'STATS': [{u'Type': u'Antminer T9', u'CompileTime': u'Tue Feb 28 22:00:37 EST 2017', u'Miner': u'13.8.1.3', u'BMMiner': u'2.0.0'}, {u'miner_version': u'13.8.1.3', u'chain_hw11': 0, u'GHS 5s': u'12714.95', u'chain_xtime8': u'{}', u

[2017-11-10 17:02] anselal commented on #24
At the moment the app only supports Python2. Pycgminer when run in Python3.6 throws an error (#10).
I find it strange that you got an output. Which python version are you using? Can you try with Python2 and let me know if it works for you?

[2017-11-10 17:44] nullwriter commented on #24
I just realised I ran pycgminer with python 2. With python 3 it does throw the error as you said.

[2017-11-10 18:16] anselal commented on #24
Have you tried running the app with Python2 ? If it works we can close this issue

[2017-11-11 23:58] anselal commented on #19
Nice idea @babycicak. We have to consider some things here. If you select to get email notifications lets say if a chip gets damaged in one of your miner, you will get this email forever until you replace the board. Replacing the board for only one chip is not very profitable because 1) you will lose money while mining with minus one board 2) you will have to pay for shipping costs back and forth.

[2017-11-12 00:32] nullwriter commented on #19
@anselal what about temperature warning notification?

[2017-11-12 00:39] anselal commented on #19
@nullwriter At which temperature should you get notified ? At the moment I display a warning when a miner reaches a temperature of 80 degrees. Do you think I shall increase this limit in the email notification ? The limit will be global for all miners or we can add a temperature limit per miner model.

[2017-11-12 00:47] nullwriter commented on #19
If I'm not mistaken, I think all models (S7, S9, T9, L3+ and D3) have the same build (3 boards, same fan speeds, etc), so it must be reasonable to say they should all be on the same range of temperatures. So I see it as leaving the option to the user to set it. So I could set a global temperature limit of, say, 80 degrees. So if any of my miners reach this, I'd get a notification with the miners d

[2017-11-12 00:53] anselal commented on #19
Not all miners have the same board numbers and same number of chips per board. The L3+ has 4 boards and all the other you mentioned (S7,S9,D3) have 3 boards. I am not sure about the T9 although I think it has 3 boards since it is a slower version of hte S9. The L3+ and S7 operate at almost the same temperature at about 55 degrees whereas the S9 operate at much higher temperatures at about 70 degre

[2017-11-12 02:35] dpkeeper opened #26 "unable to open database file when create_db.py"
version:0.2.0
platform:win10 python 2.7.13

run create_db.py:
Traceback (most recent call last):
  File "D:\projects\antminer-monitor\create_db.py", line 4, in <module>
    db.create_all()
  File "C:\ProgramData\Anaconda2\lib\site-packages\flask_sqlalchemy\__init__.py", line 946, in create_all
    self._execute_for_all_tables(app, bind, 'create_all')
  File "C:\ProgramData\Anaconda2\lib\site-packa

[2017-11-12 02:39] #26 closed

[2017-11-12 02:40] dpkeeper commented on #26
It's because chinese character in path.

[2017-11-12 14:40] nullwriter commented on #19
@anselal Sweet, I didn't know about the L3+, but then as you say it should be per model then. Also, the T9 has a few chips less per board than the S9, but still has the same danger limit. Although, thanks to a better design in the board, it does operate cooler than an S9.

[2017-11-17 08:22] Bitweidi opened #27 "Installation problems (noob questions)"
Hi there - want to try you awesome tool but im struggling with python for hours :( (no coding skills)
Minera is not working for my L3+s and AwesomeMiner wont run on a Raspberry Pi - so you project would be perfect!

On a Windows machine i installed python 2.7 from the link in your description. In a command promt i downloaded the requirements and created a database. Seemed to be working.

Now i run

[2017-11-17 08:59] anselal commented on #27
You have compleres the installation. Fire up a browser and point it at localhost:5000 or 127.0.0.1:5000

The 0.0.0.0:5000 means that the app is accesible not only from your local computer but you can access it from any computer in the network and any computer in the worls as long as you give access from your router.

The installation instructions are the same for any OS but in Linux python is alre

[2017-11-17 09:09] Bitweidi commented on #27
Thank you very much!
So you think any Pi Operating System should work? Trying Raspbian then.
Sending some BTC when mempool goes down again ;)

Keep up the great work!

[2017-11-17 19:36] #27 closed

[2017-11-17 20:16] anselal commented on #27
Raspbian is a good OS to start. I run raspbian lite on an old rpi model b. It has no gui installed so it is much liter since this old rpi has only 512 MB of ram but the app runs great even on an old hardware like this.

Thank you very much for the support. I really appreciate it !!!

[2017-11-17 22:13] gnanet opened #28 "Running as a daemon, or similar"
After running this in a gnu screen session several days, i was wondering if there is a nice way to run the app as a daemon, and sending its log to a file.

I know i could create a separate session for it and start already detached with **screen -dmS** but i wanted a bit more clean solution.

-  for Linux i found a [solution using **supervisord**](https://www.pronoy.in/2015/08/23/daemonzing-a-flask

[2017-11-18 12:46] anselal commented on #28
Nice script you got there @gnanet. In my raspberry pi I use gunicorn and systemd to create a service for antminer-monitor. I didn't had the time to write down the instruction but most of the users had a hard time to get the app running in the first place and I think adding those instructions would only make things harder for them (and me).

Windows users can try out this little app https://nssm.cc

[2017-11-19 11:10] garkinv opened #29 "It will be better to add port parsing for miner's IP address"
Thanks for your app. It's cool!
I need to add miners which are placed on some port, is it possible to handle it?

[2017-11-19 11:13] anselal commented on #29
Have you tried adding the miners with just their ip? The app is communicating with miners on a default port other than that of the miner's web interace.

[2017-11-19 11:19] garkinv commented on #29
Tried - no luck. I have remote miners and forward ports on router locally to have access from world-wide. so for example I need to open 100.100.100.100:555(public ip) to get access to miner which has 192.168.0.1 IP inside network.

[2017-11-19 11:28] anselal commented on #29
That won't work. You are supposed to run the app on the same network as your miners.
Besides that, what you are doing, exposing you miner to the internet is a big security hole.
Again, the app is not connecting to the miner's interface so forwarding a port on your router to port 80 on your miner won't work.
Install the app on a pc or better on a raspberry pi on your internal network and if you wan

[2017-11-19 11:36] garkinv commented on #29
Thanks! Suggestion with raspberry pi is good! Will try that, I know that it's security hole...

[2017-11-19 11:38] anselal commented on #29
Thank you for using my app !!!

[2017-11-19 11:38] #29 closed

[2017-11-19 17:06] kee4834 opened #30 "Request Full Guide"
Hi,

Any Full guide for this?

Thanks in advanced

[2017-11-19 17:23] anselal commented on #30
Hi, there is no guide but the app is pretty simple. Just add the miners using the form in the app and start monitoring. I will add a "how to use" section in the readme file, probably later tonight or tomorrow, since you requested it. You are welcome to try the app and leave some feedback.

[2017-11-19 17:26] anselal commented on #24
@nullwriter can you let us know if everything worked out so I can close this issue?

[2017-11-19 21:09] gnanet commented on #30
i tend to create a bunch of screenshots and a bit for-the-user like instructons about how your app can be used, ill report when im done or better ill create a fork+PR then

[2017-11-20 06:39] anselal commented on #30
@gnanet You do that and we'll see how it goes...

[2017-11-20 12:04] anselal commented on #27
@Bitweidi You can get informed about the best tx fee at https://bitcoinfees.earn.com/

[2017-11-27 08:36] ckl33 opened #31 "Reboot when detected chips (Os) =/= 180"
I have a couple of weird D3s that sometimes say 175-179 chips are Os and the rest are Xs and are fixed with a simple reboot on their static ip page, it'd be great to have a built in option to automatically reboot the miner if any Xs are detected.

[2017-11-27 16:56] anselal commented on #24
This issue is resolved thus I close it

[2017-11-27 16:56] #24 closed

[2017-11-27 16:58] anselal commented on #31
Bitmain has released a firmware update for the D3 at https://shop.bitmain.com/support.htm?pid=00720170915192851224mJ36J1ap066E which resolves your problem Besides that the reboot feature is requested in #1

[2017-11-27 16:58] #31 closed

[2017-11-27 17:39] ColossusFX commented on #19
s9 will run at 99 forever
D3 85

These are my temperature alert temps.

(Polymer_City)

[2017-11-27 17:57] anselal commented on #19
It doesn't mean they should run at those temps. Maybe the user should set the allowed temp for ecery miner.

[2017-11-27 18:59] ColossusFX commented on #19
I'm just saying those are my upper limit temps.
Once they get to that temp they start to down clock themselves to get a better temp.
My S9 runs super hot, so it always runs at 97, even when it gets down locked to 300 @ 6.6 ths

[2017-11-27 19:06] ckl33 commented on #31
Nah, all my firmware has been upgraded, the D3s are a buggy release.

[2017-11-27 19:31] anselal commented on #31
Check #21 for a conversation about the auto-reboot feature

[2017-11-27 20:42] gnanet commented on #1
Related to your last question, not only that authentication should be implemented also if you found the way "through ssh" of the curl call to reboot.cgi for every miner the web and ssh credentials need to be saved into the sqlite3 database, where at least the passwords should be stored as hash. And at this point the decision is required: what provides the encryption key for the hash ?

One possibl

[2017-11-27 21:23] gnanet commented on #19
I also support the idea to allow the user to set the temperature notification level for every miner, with  defaulting to a per-model limit, which is maybe already defined in the spec-sheet of the manufacturer (at least i hope, bitmain is defining one in their specifications)

I operated at least 2 server-rooms, and had access to high-profile co-location sites (for example Dataplex, and T-Systems i

[2017-11-27 21:34] anselal commented on #19
@ColossusFX what do you mean by "they start to down clock themselves to get a better temp". Are the antminers down-clocking them-self to prevent hight temperatures ? I hear this for the first time.

@gnanet Bitmain has indeed a specification sheet in which they mention, per model, the highest temperature the miner can operate but those limits are very high and I am not risking apply those temps fo

[2017-11-27 21:38] anselal commented on #19
About the specifications, I had a long conversation via email with a user who claimed that the "Stop Working Temp" applies to the board temp and not the chip temp. He also claimed that he tested his theory and that the D3 continued to operate after the chip temperature reached ~90 degrees.

The temp of the board is always higher than the chip temp. That means that if the board temp reaches 85 degr

[2017-11-27 21:47] anselal commented on #1
I have found a way to login to the miner via ssh. No need to curl reboot.cgi. I think encrypting the ssh password into the sqlite database is not the way to go since the authentication is not taking place in the app but in the miner. I think you get my point. I would encrypt something only on the host where the authentication takes place. The ssh password is hashed with a salt in the miner os (lin

[2017-11-27 22:46] gnanet commented on #19
I agree that their stop-working temp shall be not the default notification limit.

but maybe a 20-30 percent lower value ?

[2017-11-27 22:49] gnanet commented on #1
My point was, that the user is able to log in to the miner by SSH, and the user is totally able to change the root-pass, so, if the user is a "sec-geek" then you cannot login with root:admin, you only may request the root pass while the miner is added to the sqlite, and use the stored pass for connecting by ssh

[2017-11-27 22:51] anselal commented on #1
That was my thought too. To prompt the user with the default root:admin and if he has changed the password he shall enter the new one, which of course I save for the specific miner

[2017-11-28 07:56] ColossusFX commented on #19
@anselal

I spoke to you on BTC forum. I’m just giving you some ideas as I have already built what you are doing.

[2017-12-04 05:20] Steve-in-TX opened #32 "Specify port"
I tried using ip:port syntax but that didn't work. There should be a way to specify a non-standard port for cgminer. I have multiple machines behind a single IP and the antminer-monitor is running on a vm outside of that network. Port forwarding isn't a problem but I need a unique port for each machine. Currently the software doesn't appear to support a non-standard port.

[2017-12-04 08:52] anselal commented on #32
Hi @Steve-in-TX, thnx for using #AntminerMonitor. You are right, at the moment the app uses the default port for cgminer. This is because I wanted to make the app easy to use since adding another field when adding the miner would confuse many users, especially a port number. It is not a good practice to open so many ports on your router for several reasons: 1) security 2) maintenance ... each time

[2017-12-05 11:27] MartinPajak opened #33 "Low socket timeout causing KeyError: 'POOLS' & dark theme"
I'm running it on windows 10 for 4xD3 and got an exception on
`worker = miner_pools['POOLS'][0]['User']`
in antminer.py with index "POOLS", so changed it for testing to
`           try:
                worker = miner_pools['POOLS'][0]['User']
            except Exception as e:
                miner_pools = get_pools(miner.ip)
                worker = miner_pools['POOLS'][0]['User']`
After this the

[2017-12-05 11:41] anselal commented on #33
Thank you for using #AntminerSoftware and for your dark theme, although it is too dark even for my taste.

The code you execute after an exception is the same I am using. Can you paste a screenshot of the debug window when you got the error ? Maybe there are connection errors to your miners.

[2017-12-05 12:58] MartinPajak commented on #33
Changed the code back. after only few reloads i get:
`Traceback (most recent call last):
  File "C:\Python27\lib\site-packages\flask\app.py", line 1997, in __call__
    return self.wsgi_app(environ, start_response)
  File "C:\Python27\lib\site-packages\flask\app.py", line 1985, in wsgi_app
    response = self.handle_exception(e)
  File "C:\Python27\lib\site-packages\flask\app.py", line 1540, in ha

[2017-12-05 13:11] anselal commented on #33
I don't know what to say @MartinPajak. I checked my code again, tried to reproduced your error but the app works fine. I refresh the page every 2 seconds and no errors occur. The thing is that your workaround makes no sense. You are catching an exception and execute the same code again and it works just fine for you. I really think it is a connection problem. We can connect via `teamviewer` and I

[2017-12-05 23:53] MartinPajak commented on #33
I never intended this code as a final fix ;-). I only wanted to test/point out, if it will fail again after retry. My tests over 24 hours shows that it never fails. So why should a broken cable never fail in second try? It's not very likely. I think its more like triggering an active state of something (like port of a switch). I just counted/realized that there are four switches/routers on the way

[2017-12-06 07:07] anselal commented on #33
Now that I have an overview of your setup I think I know what caused your error. You see, I have set the timeout for the connection to the cgminer API to `1 second`.

https://github.com/anselal/antminer-monitor/blob/51f7490bde4f2d1b5f37689bf1a2463b512a75b7/app/pycgminer/pycgminer.py#L19

Try to increase it ,say, to 2 seconds and let me know how it went.

[2017-12-06 08:51] MartinPajak commented on #1
How far are you with this reboot option, if a hashboard is crashed?
Tell us pls, if you need some help.

[2017-12-06 08:56] MartinPajak commented on #33
Outsch, setting the socket timeout to 1s and telling me my cables are broken is very funny ;-)
Usually 60 seconds will be used for socket timeouts. Now with 60s as timeout, the monitor seems to work. I will report, if it should crash again.
However I recommend to use an integrity check for the received data, to make sure the monitor will never crash again on wrong/missed data, bad connection, etc.

[2017-12-06 09:23] anselal commented on #33
Actually it is not funny at all. I have feedback from users who have added 30+ miners in the app and it never crashed. Think of it this way. Setting the timeout to 60sec, if there is a connection error on lets say 5 miners, you could wait for the app to load for max 3 minutes. This is unacceptable.

My opinion is that s smaller value for the timeout is decent enough but as it shows it depends on y

[2017-12-06 09:37] anselal commented on #33
I should add a socket.timeout exception (https://docs.python.org/2/library/socket.html#socket.timeout)

[2017-12-06 10:11] MartinPajak commented on #33
Using the socket.timeout exception and incrementing the timeout value by 1 should work fine, also for internet connections.
In my network setup even timeout of 3s leads to exceptions. Now with 4s it seems to be stable.

[2017-12-06 12:04] anselal commented on #1
I am in the process of testing some new features including the reboot/shutdown function and email notifications. Due to heavy work load and family obligations I estimate to have some good new after Christmas

[2017-12-06 20:31] pedrosimao commented on #19
@ColossusFX are you willing to share your code? I could contribute to it.

[2017-12-07 01:27] anselal commented on #19
@pedrosimao he was not willing to share his code, although he copied my opensource code. This is against the Open Source License.

[2017-12-07 05:53] ColossusFX commented on #19
@anselal - I did not copy your open source code, I used the following which is available on other sites..
`.Replace("}{", "},{");`

I cannot share code presently as its only a beta version, and I need to re-write the whole thing in MVVM.
Also I have a major issue with async SSH command, its taking too long to write config files.

I will upload a compiled version soon though.

[2017-12-07 06:17] anselal commented on #19
@ColossusFX Point me to a site where you saw this piece of code. If I remember correctly you asked me about this line of code on bitcointalk. I myself didn't found it anywhere and had to come up with the solution. The only error this line solves is if you call cgminer's stats property.

Anyways..

[2017-12-07 06:32] ColossusFX commented on #19
@anselal I cannot give away 4 months of work at the moment for a project which is only being used by myself..
I did say I would help with yours... I don't want to get in a petty argument..
I was only here to help with yours and give some ideas.
My project is HUGE, and its no way near finished, its just working for what I need right now.
I am still happy to help / give input to your project.

[2017-12-07 06:34] anselal commented on #19
@ColossusFX I don't wanna argue either. Your help is welcome.

[2017-12-08 08:05] anselal opened #34 "create_db doesn't output anything"
- While creating the database the script doesn't inform the user if the database was successfully created.
  - If the database already exists the script throws an exception and prints a `Traceback`

To fix this we add a `try` block and print a message on success or fail

[2017-12-08 08:07] #34 closed

[2017-12-08 13:43] MartinPajak commented on #33
Regarding the long waits with high timeouts: you should request the miner status in background only writing the last state to database. In frontend you then only need to display the last state from database, which dont leads to  any waits.

[2017-12-08 14:17] anselal commented on #33
I don't wanna do this. That way you don't monitor the miner because you don't get live data.

I am waiting for feedback from a user who has about 100 miners. I am no network expert but if he has no problem with the timeout then you maybe have a lag in your network.

To give you an overview of my setup, my miners are behind a router and a switch which is tens of meters away from router and i don't

[2017-12-10 11:05] pedrosimao commented on #19
Anyway, a simple alert by e-mail when miner becomes inactive would be fine. This should be quite easy to implement.

[2017-12-13 20:20] pedrosimao commented on #19
Ok, I have done it myself. Now I have SMS (via Tropo API) and Email Alerts (via Gmail SMTP).
Here is what I did:

1 - Created a file called "alerts.py" inside "views" folder

`import smtplib
import requests

#####
# Set Personal Details
####
TROPO_TOKEN = 'tropTokenHere'
MOBILE_PHONE = '+11111122233'
MAIL_LOGIN = "originMail@gmail.com"
MAIL_PASS = "smtpPasswordHere"
MAIL_DESTIN = "destinationMail@

[2017-12-14 01:11] gnanet commented on #19
I have not tried the latest release, but as i understand the functionality, the checks are only carried out if the web-page is open in some browser window. This way if you are simply running the app, but do not have a computer running with a browser open 24x7, you have still no email alerts.

The desired alerting solution would require you to develop a background process that regularly wakes up to

[2017-12-14 07:09] pedrosimao commented on #19
If you don't want to let your browser open, and want to leave something running on the background you could simply run this command:
`watch -n 30 wget --spider 0.0.0.0:5000`

This will check your Flask page every 30 seconds.
Don't forget to install watch and wget.
That's the easiest way.
I could also change the Python code to check every X seconds for alerts.

[2017-12-14 23:02] gnanet commented on #19
I am by far not a python expert / programmer, so i dont know if it is difficult to write the

But i think that solution would keep antminer-monitor still mostly platform independent (i think it can run currently on windows, mac, linux, if the required python and the libs are installed)

but your simple solution was so simple i wonder why i did not think on it ;)

[2017-12-15 06:28] anselal commented on #19
@gnanet You are right, at the moment all the checks are performed on every page refresh. My software isn't build on top of some API yet. The email notification system should run on it's own thread and check for instabilities, independent of the refresh rate of the app. The keyword here is `service`.

@pedrosimao  As I want to keep the app platform independent I am looking for native python solutio

[2017-12-16 19:29] a3igner opened #35 "How can i view 0.0.0.0:5000 from another machine?"
So i got it to run on a linux machine and using lynx i can view the page remotely.
But how can i view the webpage from another machine on the network please?
I have a Mac and want to go to the IP of the linux machine 10.0.0.x:5000 and view that webpage remotely. Thx

[2017-12-16 21:46] anselal commented on #35
I think you just answered your question. Just browse the linux machine's ip with port 5000, like e.g. 192.168.1.3:5000

[2017-12-16 21:52] a3igner commented on #35
I tried that but it didn’t work.

I have Apache running already. And other websites I access work fine.

Does the python script broadcast to outside?

[2017-12-16 22:52] anselal commented on #35
0.0.0.0 means accesible from everywhere. Can you check your routes and firewall settings ?

[2017-12-17 06:03] a3igner commented on #35
Oh thanks i forgot i had ufw running. how silly!  now it works after enabling port 5000. very good!

THANKS!

[2017-12-17 22:09] mikespax commented on #30
Windows:

Download and install Python. Download and unzip Antminer-Monitor.

Right click on command prompt to run as administrator. With the Python install in the default folder, and Antminer-Monitor renamed and placed into c:\monitor the follow lines should work.
First you need to cd into the location of the github directory that you've unzipped. I've renamed the folder and placed it into c:\moni

[2017-12-17 23:24] mikespax commented on #19
@pedrosimao Could you add a bit more detail to those last few lines on your email notifications instructions? I'm not a code guy and I'm having trouble understanding exactly what was meant by:

[2017-12-17 23:29] pedrosimao commented on #19
@mikespax just add this line to the top of antminer.py file:
`from . import alerts`

[2017-12-17 23:31] mikespax commented on #19
ah yes, I tried that firstly. what would I do about this? @pedrosimao

[2017-12-18 00:41] mikespax commented on #19
May have answered my own question, will try in a second.

https://stackoverflow.com/questions/17309288/importerror-no-module-named-requests

[2017-12-18 00:56] mikespax commented on #19
IT WORKS! WOOHOO. @pedrosimao

[2017-12-18 01:26] mikespax commented on #19
I also added an email alert for a miner going offline.

if miner_stats['STATUS'][0]['STATUS'] == 'error':
            errors = True
            error_message = "[WARNING] Miner is offline '{}'.".format(miner.ip)
            inactive_miners.append(miner)
            alerts.sendAlert(error_message)

[2017-12-18 04:44] mikespax commented on #19
@pedrosimao do you have a recommendation for a throwaway email account provider to use for this sending out the emails? I have a not so important secondary gmail account I've decided to use, but would prefer to created a dedicated not very important email to use for this purpose and this purpose only.

[2017-12-18 06:21] #35 closed

[2017-12-18 07:36] pedrosimao commented on #19
I am glad it worked. Coding is fun, right? Maybe you should learn more.
I just use a gmail account. I don't see a good reason to use a dedicated email account. I unhappily don't know much about e-mail providers. What I could help you with, is creating a script on Tropo, that will send out SMS alerts using the same code I shared.

[2017-12-18 07:38] mikespax commented on #19
Yeah! It wasn't that bad at all. I was just worried about leaving my
password plaintext on a machine. Don't need SMS alerts really with email
being possible (and free!).

On Mon, Dec 18, 2017 at 8:36 AM, Pedro Simão <notifications@github.com>
wrote:

--
Michael Sparks
(US) +1.850.396.2648
(HU) +36.30.350.1362

[2017-12-18 07:49] pedrosimao commented on #19
Well... SMS on Tropo is free for developers.
And I understand your security concern. Creating another Gmail account is the easy way to go.

[2017-12-18 08:11] anselal commented on #32
@Steve-in-TX did you find to time to test out my suggestions ? Shall I close this issue ?

[2017-12-18 08:12] anselal commented on #19
What is a good time interval for the email notification service ? Do you think it should check on every page refresh or shall it run on its own thread, that means independently on the page refresh ?

[2017-12-18 09:21] pedrosimao commented on #19
We could actually have a separate setting only for that. Each different user would prefer a certain time interval...

[2017-12-18 09:24] mikespax commented on #19
I for one would like to know immediately if my house is on fire. I see no
reason to go longer than the current refresh interval for emails.

If the issue is about sending too many emails within a short period of
time, create a check that ensures not to repeat the same alert within a
4?(user configurable?) hour period. Probably one email is enough.

On Mon, Dec 18, 2017 at 10:21 AM, Pedro Simão <no

[2017-12-18 10:53] pedrosimao commented on #19
Or just create an "alertState" boolean variable. If Antminers have a problem, we set the variable  alertState to True, in that case we wouldn't send alert again till alertState is set to False. Which means, one of the conditions of sending alerts would be having alertState==False This would avoid repetitive e-mail for the same alert...

[2017-12-18 12:30] anselal commented on #19
@pedrosimao This is not a good idea at all. What if you turn notifications off and something happens... you won't be informed

[2017-12-18 12:34] anselal commented on #19
@pedrosimao Your code looks a lot like mine, I use smtplib too, but I have structured it a bit different. Good job by the way.

@mikespax Just create a dedicated gmail account for monitoring your miners, so you don't worry about your password. This is what I have done.

Another idea. I can create a gmail account and hardcore it to the app. All users can receive notifications from this email addres

[2017-12-18 14:08] Steve-in-TX commented on #32
It wasn't so much a bug as a feature request which you don't want to implement, so go ahead and close it.

[2017-12-18 14:12] anselal commented on #32
I can implement it if you want but i think that your setup is wrong

[2017-12-20 12:15] anselal commented on #30
Nice job @mikespax, I didn;t know that `easy_install` was part of OSX.

[2017-12-20 12:23] sembukv commented on #32
@anselal first of all, thank you a lot for such useful tool!
In my personal case, the possibility to set ip:port is nearly a paramount importance and the reason of it is I don't have a possibility to scope all the miners in one location(because of electricity issues), so I had to place miners in different places. It leads to such problem - unavailability of monitoring all the miners from one inter

[2017-12-20 13:03] anselal commented on #32
@sembukv thank yo for your kind words. I will add another field for the cgminer port in the form. It is not much of a trouble. I will set the default cgminer port as the default value for that field which of course you could modify as it suits your needs.
When I close this issue you will be notified via email so you know that I have implemented this new feature.
Feedback would be appreciated since

[2017-12-20 23:22] gnanet commented on #30
Install docs seem to get quickly in shape, so i should give me a boost, to get that "for the user" screenshot thing done too... :(

[2017-12-20 23:25] gnanet commented on #32
I have access to a rather big farm, and can test the theory with creating port-forwards from a RPi3 to the respective miners, and test some cases with custom ports

[2017-12-22 19:26] merttokgozoglu opened #36 "KeyError"
i'm running it on ubuntu 16.04.
i tried to add more than 70 L3+ miners to the monitor list.

here's what i see most of the times:

Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/flask/app.py", line 1997, in __call__
    return self.wsgi_app(environ, start_response)
  File "/usr/local/lib/python2.7/dist-packages/flask/app.py", line 1985, in wsgi_app
    response =

[2017-12-22 20:38] anselal commented on #36
Hi, does the app run with fewer miners installed ? I think it is due to socket timeout. I have set the timeout to 1 second. Try increading it by one until you get no errors.
This error is reported again. Please check #33 and ket me know if this fixes the issue.

Can you give me an overview of your network setup ?

[2017-12-22 20:44] merttokgozoglu commented on #36
hello,
thank you!
i set the timeout as 5 seconds and it's working fine.

[2017-12-22 20:45] rw86347 commented on #25
I am an iPhone programmer and I have a T9.  If the developer wants to point me in the right direction I will add it.

[2017-12-22 20:52] anselal commented on #36
Did the increase of the timeout increase the load time of the page ? How long does it take to load the info for 70 miners ?

[2017-12-22 20:57] merttokgozoglu commented on #36
![image](https://user-images.githubusercontent.com/9316417/34312256-b5b734c4-e773-11e7-8eb2-babd0d959af1.png)
it's loading between 10-15 seconds for 84 miners.

[2017-12-22 21:24] anselal commented on #36
Thank you for the feedback. 10-15 seconds for 84 miners is not normal though. My guess is that you have a lag in your network due to your setup.

I have feedback from users who reported that with +30 miners the page loaded in ~0.2 seconds

[2017-12-22 21:32] merttokgozoglu commented on #36
yes. they are in different locations. latency is 15 ms.
that must be the reason for 10-15 seconds loading time but it still is great!
thank you!

[2017-12-22 21:32] anselal commented on #36
You are very welcome

[2017-12-23 05:49] anselal commented on #36
I am closing this issue. Donations are always welcome !!!

[2017-12-23 05:49] #36 closed

[2017-12-23 05:54] anselal commented on #33
@MartinPajak, @merttokgozoglu had the same issue with you and as he stated in #36 that the page refreshes in 10-15 seconds after he set the timeout to 5 seconds. This is caused by his setup because the miners are at different locations.

[2017-12-23 05:58] anselal commented on #25
Hello @rw86347, thank you for using my app. To add support for the T9 we'll have to update the database. The reason I haven't done it yet is because lack of time and because I want to create an update script so that a user who comes from a previous version won't have to delete the database and add the miners from the start.

Please be patient as a new release with come after Xmas. For now you can

[2017-12-23 14:33] mikespax commented on #32
I'm also planning to have miners in various places and being able to use some port forwarding magic to get everything to work sounds great.

As long as I change off the default username and password on each of my miners and use some non common ports, what kind of potential security issues could I be looking at?

[2017-12-23 22:46] anselal commented on #32
If you expose your miners to the internet, even if you change the default password, you can always be victim of a brute force attack. It is just not safe.

[2017-12-23 23:25] mikespax commented on #32
So I change the password on each miner to a unique 20 character randomly
generated password. The benefits of not requiring a separate device to
monitor is huge I think. You don't believe there's enough security
precautions available to counter the risk?

On Dec 23, 2017 23:46, "Anastasios Selalmazidis" <notifications@github.com>
wrote:

[2017-12-23 23:45] anselal commented on #32
I honestly don't think that it is a good idea to expose your assets to the global internet. That is all I can say. It is up to you to decide if you are doing a good job protecting your miners.

My opinion is that the best solution would be to  set up a local VPN server and connect to it using a private certificate.

[2017-12-30 11:12] AndreyNag commented on #25
Hi. I need add support for Pantech X5, SX6, Hotminer X7 etc. Can you tell us how we can add it?

[2017-12-30 21:50] anselal commented on #25
@AndreyNag I am not aware of those miners. Can you please open a new issue and post some links so I take a look at them ?

[2017-12-31 12:22] Config13 opened #37 "ip address format"
sorting in the table by addresses. so that the devices are displayed in order changed addresses to 192.168.007.000. After the changes, if you click on the link to the web interface - the address of the device is not correct. As with the address 192.168.007.011, the interface opens 192.168.7.9. How can this be remedied?

[2018-01-02 22:09] gnanet commented on #25
Also if those miners support the same api please include an anonymized version of the output of stats and summary and devs.

[2018-01-04 08:51] anselal commented on #37
@Config13 I just replicated your issue with entering the IP 192.168.007.011 and you are right, the link points to 192.168.7.9. This is because for some reason the IP is translated as octal `(011=>9, 012=>10, ...)`.

The strange thing is that the conversion only happens inside the `href`. I am trying to cast it to string but it won't work for some reason. This should be easy to resolve though. I wi

[2018-01-04 09:05] anselal commented on #37
So, i did a research and I found that this is not a bug in my app. If you look at the source of the rendered html you'll see that the IP inside the `<a href="...">` is correct. It seems that the browser handles it as octal.

I will have to add a script that properly sorts the IPs in the table.

[2018-01-04 23:43] gnanet commented on #37
My workaround for this was to put a sortable NAME of the miner into the remark field, for example having 3 pcs of  L3+ would be named L3P001 - L3P003 which is easily sortable ;)

[2018-01-05 07:26] anselal commented on #37
@gnanet This works but I had tested a Javascript code for sorting some fields in the table. As it seems I'll have to merge it ;)

[2018-01-05 23:04] sergioclemente opened #41 "How do I open the DB through the console?"
I tried using sqlite directly and it didn't work. Any pointers?

~/antminer-monitor$ sqlite app/db/app.db
Unable to open database "app/db/app.db": file is encrypted or is not a database

[2018-01-05 23:36] gnanet commented on #41
Maybe a too basic question, but which version of **sqlite** you try to use?
Because a search for the error string leads mostly to the suggestion to use **sqlite3** to open sqlite version 3 databases

Is antminer-monitor stopped while you are trying to open the database?

[2018-01-05 23:55] sergioclemente opened #42 "Show an indicator if the temperatures are high."
According to couple of threads in bitcointalk it seems the target temperatures should be below 70-75. We should indicate in the ui

I will be happy to do this once we figure it out how to expose.

[2018-01-06 00:05] sergioclemente opened #43 "Show the percentage of the fan"
It would be nice to show not only the rpm, but what percentage of the fan its running.

Again, will be happy to do this.

[2018-01-06 00:42] sergioclemente commented on #41
yep, you were right.

sudo apt-get install sqlite3
sqlite3 app/db/app.db

did it. Thanks!

[2018-01-06 00:42] #41 closed

[2018-01-06 05:55] sergioclemente opened #45 "Any particular reason why not to make this app generic enough to work with other miner types?"
I don't see a reason why this couldn't work with gekkoscience or the avalon miner since its just using the cgminer api. Assuming we build the right adapters for the different device types It should work

Happy to work on this as well

[2018-01-06 11:56] anselal commented on #45
We are currently working on Avalon support. Please check https://twitter.com/AntminerMonitor for updates

[2018-01-06 11:57] anselal commented on #42
This is already implemented. If the temp is too high the table row of the miner turns red and an notification shows up above the table.

[2018-01-06 11:57] #42 closed

[2018-01-06 11:59] anselal commented on #43
How can we know the max speed of the fan ? Every model uses a different fan. For example the fan of my S7 broke (3000rpm) and I replaced it with a fan from bitmain which was 6000rpm. I think the rpms are just fine. If you agree you can close this issue

[2018-01-06 14:27] sergioclemente commented on #42
Found it. Are you ok with me making it a settings? I saw some folks saying the recommended temp is somewhere below 70-75.

[2018-01-06 14:32] sergioclemente commented on #43
Thats a good point. I was assuming every model came with some default values that we could customize.

Imagine when you are adding a model, you pick model S9 it would show default hashrate of 13.5, default rpm of 6000 and you could change it.

If you changed during operations (Like you said) as long as you could edit the miner (which you can't yet) you could update the rpm.

We could hide by defau

[2018-01-06 14:33] sergioclemente commented on #45
Glad I asked. I will probably wait to add support to GekkoScience then, so I leverage the framework you built

[2018-01-06 14:48] sergioclemente opened #46 "Option to switch pool"
It would be nice for it to allow switching pools. This is specially useful when profitability switched from one coin to another. Have to be careful how to expose this to not make the user interface too complex.

[2018-01-07 02:23] gnanet commented on #46
It is only my opinion, and @anselal maybe wont agree with it, but a feature like switching pools would rather fit a new project which could be called "antminer-controller" , don't you think?

[2018-01-07 02:34] sergioclemente commented on #46
I think the scope of the project started just like "Monitoring of Antminers" but its expanding already, two data points: He is working on adding support for Avalon 741 and restart button.

The name of the project is becoming invalid, but I don't think it matters much. maybe cgminer-controller in the future.

How to expose the pool switching to the user without cluttering the UI I think is the prob

[2018-01-07 02:54] gnanet commented on #46
I started following this project, because i am developing a similar project in PHP, that does monitor antminers like this project, but also to control those miners, for example to allow the mass pool switching, or similar things. I found only one project that seems to relate to my goals, and that was [minera](https://github.com/getminera/minera), but since they focus on the local usb miner part, a

[2018-01-07 04:27] sergioclemente commented on #46
Mind sharing your's project page? I looked in your profile @gnanet  and didn't find. Or is that the link from the @ckolivas you mentioned?

[2018-01-07 09:45] gnanet commented on #46
I am not a big programmer, and the current state of the project is far not what i would say "ready to show" also it contains hardwired parts that are unique to our setting of mining farm. sorry

[2018-01-07 19:56] sergioclemente commented on #43
Here is a small prototype I've made, it includes the fan percentage, cpu percentage and also highlights the temperatures if above 70 but below 80. For the two miners I've have both have max rpm 7125, and the value displayed currently is matching what is shown in the antminer interface.

![screenshot from 2018-01-07 11-52-59](https://user-images.githubusercontent.com/1606380/34653509-7a0968ae-f3a1-

[2018-01-07 21:52] anselal commented on #43
Looks nice but i have a question. How do we determine the 100% of the fan speed and cpu? As i see for the frequency you have set the default. Although for the D3 the default freq is the one which sets the hadhrate to 15GH/s since this was the original announcement of bitmain.
But for the fan you cant assume any speed as 100% for the reason i mention in my previous reply.

[2018-01-07 21:56] sergioclemente commented on #43
For fan, I think we can provide a default option when you add a miner, most of the latest antminer monitors is 7125rpm.

For frequency it depends even on the sub model inside the model, for the S9 13.5 its 550Mhz, but for the latest ones its 650Mhz i believe. Found the frequency looking at the specs of a model.

[2018-01-07 23:55] gnanet commented on #43
I tried to dissect the cgminer driver of Antminer D3 and it looks like the cgminer only knows about any kind of percentage, if there is a manual fan percentage set in the config upon start.

but later the api only can tell you the current speed, but not the percentage. so the only way to calculate a percentage would be to rely on published specs, which can change without prior notification.

[2018-01-08 01:10] sergioclemente commented on #43
They probably just forgot.

https://github.com/sergioclemente/cgminer-dash/blob/master/driver-btm-DASH.c#L5086

Can easily add there the line to add: dev.pwm_percent but it would require a custom version of cgminer.

[2018-01-08 13:35] anselal commented on #42
I set the temperature to 80 because many users own D3s and the temperature of those machines if around 80 degrees. This is because of the over-overclocked machines bitmain sold. I think 80 is a good point to notify the user. 70 is a normal temperature if you compare it with a CPU.
A L3+ and S7 is about 50-55 degrees and a S9 is around 75 degrees. Those values are for miners with the default freque

[2018-01-08 13:37] anselal commented on #42
What do you mean be "making it a setting" ? To create a settings.py file and add the value there ?
Actually I wanted to create an admin panel and add those values to the database in the `settings` table

[2018-01-08 13:45] anselal commented on #43
My S9's fan runs at 4600rpm by default.

You see that it is not easy to calculate the percentage of neither the frequency nor the fan speed.

What we could do is to set a default frequency for all S9, S7, D3... etc and display the percentage of the frequency according to that value.
For the fan speed I am not sure if we can do something like the above.

[2018-01-08 14:06] anselal commented on #46
@sergioclemente If you mean an option to auto-switch pools according to the more profitable coin I am not willing to merge such code with this project.
The idea to set a pool on the miner from within the app is tempting. I already did a quick research about this and I can tell you that there are 2 options.
1) Change the pool settings by directly editing the pool config file via ssh. This is the ea

[2018-01-08 15:48] hansje69 opened #47 "Support for PORT"
Hi there,

 ##I use the same network IP for all my miners, and only have a different port for each miner, if I fill in for example 192.168.1.200:4030, it won't work. I know this is not wrong or anything, but would it be possible to have support for ports as well to solve this quite simple issue?

Thank you

PS. Perhaps not have a separate input field box for field, but simply auto detect all ports

[2018-01-08 15:54] hansje69 commented on #47
def __init__(self, host='localhost', port=4028):
        self.data = {}
        self.host = host
        self.port = port

or perhaps here it's possible to customize it by manually adding in the source code additional ports? Not really user-friendly... but perhaps as a temporary solution?

[2018-01-08 15:58] sergioclemente commented on #47
@hansje69 perhaps you should ping @anselal  to review my pull request. There is more stuff there than I've originally sent, but I will be happy to pull back the parts that are not applicable.

[2018-01-08 16:12] hansje69 commented on #47
I checked your changes, and applied them, but the port function/field doesn't work...

[2018-01-08 16:18] anselal commented on #47
This is a duplicate issue #23, #32  and I am closing it.
@hansje69 you are right. The code from @sergioclemente does not work and I will tell you why. It is because he didn't update the call to the CgminerAPI to add the port number.
Since I am closing this issue please don't reply here but at #32

[2018-01-08 16:20] sergioclemente commented on #47
My change adds the host port for the http admin interface. It doesn't touch the cgminer entrypoint. Apologies I read your message incorrectly

[2018-01-08 16:34] hansje69 commented on #32
Thanks @anselal for referring me to here.

Regarding to what I read here, I actually want to use it for local network, and agree global can be dangerous, although I did read in changelog of S9 November firmware, that they closed port 80, as everyone could easily visit with root:root.

I want to use 192.168.1.200:4028
I want to use 192.168.1.200:4029
I want to use 192.168.1.200:4030
I want to use 1

[2018-01-08 17:20] anselal commented on #47
@hansje69 do you forward the RPC port or the Web Interface port?

[2018-01-08 17:22] anselal commented on #32
@Steve-in-TX do you forward the RPC port or the Web Interface port ?

[2018-01-08 17:45] Steve-in-TX commented on #32
The RPC port, and it's allowed only from specific IP addresses, so the
normal concerns about opening ports doesn't apply in my case.

------ Original Message ------
From: "Anastasios Selalmazidis" <notifications@github.com>
To: "anselal/antminer-monitor" <antminer-monitor@noreply.github.com>
Cc: "Steve-in-TX" <steve@sthomas.net>; "Mention"
<mention@noreply.github.com>
Sent: 1/8/2018 11:22:25 AM
Su

[2018-01-09 12:36] anselal commented on #32
OK. Just wanted to cross check. I will add another field in the form or add the functionality to add the port in the form IP:PORT. This will save some space in the form ;)
Unless some people forward 2 ports, one for the Admin Interface and one for the API so this would require to add two port numbers. The API port for the STATS and the UI port for the link in the table..
What do yo think ?

[2018-01-09 12:46] hansje69 commented on #47
not sure @anselal , i am not good in knowing the exact words/terms for it, but i think one of them? he changed added a few more than the (i believe its the 4028?) standard ones, by simply adding 4029,4030, and so on..
i hope that helps?

[2018-01-09 21:43] anselal commented on #47
@hansje69 port 4028 is the RPC port. The HTTP port is 80, which is the global default for HTTP the protocol. thank you very much, that helped.

[2018-01-09 21:44] anselal commented on #47
I close this issue again since we clarified that this is a duplicate :wink:

[2018-01-09 21:44] #47 closed

[2018-01-10 11:35] anselal commented on #45
Is the GekkoScience a usb miner ? The software currently only supports network miners. You are welcome to add support for usb miners if you want.

[2018-01-10 23:55] A-RK6 opened #49 "Integration of EthOS miner API in Antminer-Monitor-Master App"
Broadening the horizons of the Antminer-Monitor-Master App makes perfect sense now that GPU mining is becoming more and more popular.

At present, EthOS have over 50,000 miners working with their OS so their software is well developed and regularly maintained.

An example of the EthOS monitor can be found here: 48061f.ethosdistro.com

Example API:

{"rigs":{"91c5eb":{"condition":"high_load","versi

[2018-01-11 15:05] andrucha4004 opened #51 "Can you add ebit e9+?"
Hi! Great app! can you add ebit e9+ support?

[2018-01-12 06:29] adstek commented on #46
Would be nice to have sort of the same dropdown menu as when you choose miner, but to choose from different pools that the user can add, and maybe choose all, or one at the time

[2018-01-12 06:33] kee4834 commented on #30
Thx for the guide, does it support raspberry pie also?

[2018-01-12 06:39] adstek opened #52 "HW error rate"
The HW error rate says 0% on all miners, is there an easy fix?

[2018-01-12 08:13] anselal commented on #52
You should be happy about it. This means your miner has no Hardware Errors.

[2018-01-12 08:13] #52 closed

[2018-01-12 08:22] anselal commented on #51
Hi there,

since I don't own this ASIC Hardware I am not sure how to add support for it. I will need more info about the API it is running.

I will need the output of the cgminer API running on your miner. Do you have any idea how to do it ? If not I will guide you through it.

[2018-01-12 08:25] andrucha4004 commented on #51
I don't know how to do it. Can you guide me?

12 янв. 2018 г. 2:22 ПП пользователь "Anastasios Selalmazidis" <
notifications@github.com> написал:

[2018-01-12 09:28] adstek commented on #52
The miners says otherwise

[2018-01-12 09:37] anselal commented on #52
The field in the table show the HW error rate. It is a percentage. You shouldn't worry about the HW errors itself because they don't indicate anything by them self. You should worry about the percentage. But in your case it is zero so don't worry.
In the miner's web interface the actual HW Error Rate is shown under `DiffA#`. Take a look at my screenshot. I have 9 HW errors but the HW error rate is

[2018-01-12 09:54] adstek commented on #52
Oh, on my L3+ I have a row called Nonce# that says 1.9416%, but the row under DiffR# says 0.0079% I thought it was the Nonce# that displayed HW... Do you know what Nonce is then 😂?

[2018-01-12 10:12] anselal commented on #52
This is my L3+

![2018-01-12_12h06_00](https://user-images.githubusercontent.com/8732668/34869897-1de6eddc-f791-11e7-8859-aa3705f6e486.png)

If you want to calculate the HW Error Rate yourself the formula is `HW / (diffA + diffR + HW) * 100`.

From https://en.wikipedia.org/wiki/Cryptographic_nonce

I think we are out of topic now !!!

[2018-01-12 10:57] adstek commented on #52
Thanks! 😊

[2018-01-13 11:40] hansje69 commented on #43
I also have to agree that percentage is a bit useless because of the simple fact of determining which rpm would have to be 100%. I use special type of fans doing well over 10k rpm with higher airflow (CFM), and set it at max. As oon as I see it's off, and for whatever reason running at 9300 rpm, I will know something isn't good ;)

[2018-01-14 16:02] d3xlim opened #53 "Adjusting / modifying threshold tempreture warning"
Hi Anselal, firstly great work , for this lil app !! love it

was wondering is there a way i can modify to change the temperature warning msg to a higher number, ?
at the moment it is set to 80 i want to set to 95 , where about do modify this after i have created the db

Thanks so much in advance

[2018-01-14 18:32] anselal commented on #53
@d3xlim thank you for your kind words. The threshold is hardcoded inside the following file for the time.

https://github.com/anselal/antminer-monitor/blob/0a2b3165b09123f1118f6c007052b0bb5a34f681/app/views/antminer.py#L115

You can change the value anytime even after creating the database

[2018-01-15 16:14] d3xlim commented on #53
@anselal got it ! manage to change the threshold limit ! thank you again for guidance and your time for making this, will do my part on the donation 👍  cheers !

[2018-01-16 07:16] anselal commented on #53
I am glad I could help. Thank you very much for the donation part, I really appreciate it !!!

[2018-01-16 07:16] #53 closed

[2018-01-16 11:30] anselal commented on #51
Hi @andrucha4004, sorry for the delay.

 - If you have already installed my app, just add the miner as another model e.g. S9.
    - If the app doesn't return any errors try the following:
Open a new tab and navigate to: `http://localhost:5000/<ip_address_of_the_miner>/stats`
Replace `<ip_address_of_the_miner>` with the miners IP address and paste the output here. I would actually prefer to copy th

[2018-01-17 08:54] hansje69 commented on #32
I personally not mind to have whatever ports open, as all my hardware firewalls would make it impossible to get even near it.

However, if the plan is really to allow open ports for the additional reason being able to access from a different location (world wide access), then may I highly suggest a standard MAC Address filter? Even cheap $10 routers have that built in :)

I think that’s the best s

[2018-01-17 09:44] anselal commented on #32
@hansje69 Well said, but I think that the conversation about security is out of this topic. Let's just stick to the fact that some people forward the RPC port on their routers and they want me to add support for it.

My main problem was that it was not clear to me what port they forwarded in the first place, since some people thought that my software communicates with the miner via the Web Interfa

[2018-01-17 14:37] sergioclemente opened #54 "Support for avalon 741 and 821"
Anyone have an example of the JSON RPC data that cgminer returns?

I have some that are arriving and wanted to add support for this before they are here.

[2018-01-17 16:13] anselal commented on #54
I already gained access to some avalons and i am working on adding support for them. I managed to split the info for the temperatures etc. They are in a strange format, other than that of the Antminer's cgminer-api.

If you followed me on tweeter you would see my announcement about the avalon support. :smile:

[2018-01-17 17:40] sergioclemente commented on #54
You have a lot in your plate let me know if you want to offload what ever you started and I can continue.

PS. Sorry don't use twitter.

[2018-01-17 18:05] anselal commented on #54
OK. I will paste in a gist with the output of some commands from the Avalon and the code I got so far.
Only 3-4 lines so far but they do the job

[2018-01-17 18:06] anselal commented on #54
If you want to get your hand dirty you could also check #49 which is similar to this one

[2018-01-17 18:55] sergioclemente commented on #54
Sounds good. Waiting for your initial input.

For EthOS(#49) I might be tempted once I finish the Avalon :)

[2018-01-17 22:09] anselal commented on #54
Here is the gist with the output when running the stats command on the cgminer-api

  - https://gist.github.com/anselal/801ecd1576c42e2b659a4ad608ed796f

[2018-01-20 00:08] sergioclemente commented on #54
Thank you very much for the snippet @anselal . I've commented there and let me know your thoughts if you know how to extract more data from the stats.

[2018-01-21 04:33] hansje69 opened #56 "Download most updated version"
Where can I download the most updated/recent version? So many things have been changed already, like other miners, port support, and so on. But when I download, it says still 0.2.0 with the same files, perhaps it's me being new on Github, not knowing exactly where to look for the latest zip file, lol.
Cheers.

[2018-01-21 09:25] anselal commented on #56
You can download the layest version at https://github.com/anselal/antminer-monitor/archive/master.zip
But the changes you mention haven't benn added yet. The latest version is still 0.2.0

[2018-01-21 09:25] #56 closed

[2018-01-21 11:25] hansje69 commented on #56
Yes I can see that for myself also, which is why I wonder, why not? And how to get the latest version then? Or are all things mentioned in "Issues" just a place for request, and nothing is done with it? lol

[2018-01-21 12:37] anselal commented on #56
The issues are issues and requests. We close them after we deal with them. As long as they are open we are still working on them

[2018-01-24 20:41] carlcbilodeau opened #57 "http://.... not found for my S9"
I have installed the antminer-monitor succesfully on my Windows 10. I have launch the app in my chrome browser and have added my S9 ip addresses. The problem is that the software adds http:// in front of the ip addresses and this makes the S9 not availlable.

The software gives this STATUS message for each of my S9: Error: Check connection or IP Address

What am I doing wrong? Should I edit my hos

[2018-01-24 21:29] anselal commented on #57
Thank you for using my software. The app doesn't retrieve stats via http but via socket connection on port 4028. If you are behind a firewall/router you should open/forward port 4028.
HTTP is the default protocol for the web. What you describe makes no sense.

[2018-01-24 21:30] carlcbilodeau commented on #57
I have found the solution. I edited the hosts in windows. Open notepad in "Administrator" mode. In notepad open the file c:\windows\system32\drivers\etc\hosts
At the end of this file, add one line for each Antminer machine like this:
10.0.0.61    http:\\10.0.0.61
10.0.0.62    http:\\10.0.0.62
.....

French:
Attention, je dois éditer avec Notepad le fichier hosts afin d’ajouter toutes mes S9. J’ouv

[2018-01-24 21:34] #57 closed

[2018-01-24 22:04] carlcbilodeau opened #58 "Need a column for "Discarded"."
Yesterday all my S9 had 600 000 discarded in a single day. It is only at the end of the day I understood that I needed to reboot my router since my Internet connection was poor because of a router glitch.

So today I have installed antminer-monitor to help me monitor my S9 more easily since I lost some money yesterday.

I don't see a column for "Discarded". How can I have one? Anybody has the code

[2018-01-24 23:35] sergioclemente commented on #58
Maybe not a column, but somehow exposed like the temperature warning.

What should be a reasonable threshold that is for sure a network malfunctioning? more than %2 of shares being discarded?

[2018-01-24 23:48] carlcbilodeau commented on #58
If the machine is on since 30 days, when my router will have a glitch, it will take forever for the percentage to increase since the failing day will be only 1/30 of the whole running period. So this percentage has to be computed vs the non-discarded ones.

Maybe we would need the system to make a comparison from the previous refreshs. So when you start the app, it gives you the percentage of disc

[2018-01-25 13:10] anselal commented on #58
The Discarded and rejected shares are shown in the web interface of the miner
![2018-01-25_15h07_25](https://user-images.githubusercontent.com/8732668/35389728-7ba16308-01e1-11e8-9844-32c521abae60.png)

I can display those values if this is what you want

[2018-01-25 13:31] sergioclemente commented on #58
I've read a little bit online and it seems Discarded is a useless metric.

https://bitcointalk.org/index.php?topic=1177988.0

[2018-01-25 15:47] carlcbilodeau commented on #58
@sergioclemente ".... it discarded it in favor of newer/fresher work".

So probably that my Network Latency is so slow that it is making part of my work to become opsolete and then my S9 discard them.

See this article about Network latency:
https://ethereum.stackexchange.com/questions/18201/does-network-latency-significantly-affect-mining-rewards

Someone mining wrong coin has 100% discard
https:

[2018-01-25 15:50] adstek commented on #35
I just want to add here if you are interested, I installed pagekite on my ubuntu machine to get the page outside my network 😊 adstek.pagekite.me

[2018-01-25 16:38] anselal commented on #58
@carlcbilodeau I will this info in the next realeases. I am working on a new interface which will be able to display more information per miner.

PS: please post only things related to the subject

[2018-01-25 21:36] starrateit opened #59 "Add A3 miner"
Hi,

Thanks for the help once I loaded the latest version works like a charm.
Really like it clean and simple.

Is there any chance you can look at adding in the new Antminer A3, I have added it using L3+ for now but it throws up an error about the chips still monitors though for now.

Thanks,

Spencer

[2018-01-25 21:39] starrateit opened #60 "Editable High Temp Variables"
Another nice feature would it be possible to add in a variable / GUI where you can set the temp
Thresholds variables, currently we are running warm so all miners but one have there Centre hash board running over 80 degree’s, we are going to upgrade our exhaust and intake fans and hoping to curb temps down but would be cool to push that up to 90 degree’s?

Can I do it manually for now anywhere?

[2018-01-25 21:52] sergioclemente commented on #60
Hello,

Thanks for using the app. You can manually edit now at

https://github.com/anselal/antminer-monitor/blob/master/app/views/antminer.py#L134

But I believe @anselal might have some plans to make this more customizable.

[2018-01-25 21:54] sergioclemente commented on #59
Hello. Thanks for using the app.

It should be pretty simple to add support for the A3. Do you mind sharing the output of:

http://127.0.0.1:5000/<miner_ip>/pools
http://127.0.0.1:5000/<miner_ip>/stats

Making sure you replace <miner_ip> for the A3 ip. And assuming you are running locally.

That will contain information about the miner which might make the porting a lot easier.

[2018-01-25 22:00] anselal commented on #60
As @sergioclemente stated we are in the middle of adding a lot of features including the one you are asking !!! Please be patience as some changes take more time then planned

[2018-01-25 22:29] carlcbilodeau commented on #58
@anselal  I have 20 x S9. It is much easier to watch them today. If the next release can warn about anything inhabitual it will be too easy! Many thanks, you save me at least one hour per day for the next years.

[2018-01-26 08:25] anselal commented on #58
Thank you @carlcbilodeau for using my software and for your kind words. Donations are always welcome !!!
You can follow me on twitter to get updates !!!

[2018-01-26 14:51] brmcc commented on #59
I was able to use the D3 profile and it worked perfectly for the A3, the only difference is it reports in MH/s instead of GH/s which is what the miner is actually doing.

[2018-01-26 15:59] anselal commented on #59
@brmcc thank you for the feedback. This means that the have the same number of chips and boards. I will add the A3 in the next days with some other changes i made 😉

[2018-01-26 17:09] starrateit commented on #59
Awesome, I am currently running 2 x A3’s as L3+ and they are complaining but it still gives me vital stats. Will give the dash miners a go instead until the dev is complete. Look below in screen shot how the show.

Are you guys all running under 80 degree’s on your chips, this is a challenge to achieve in our environment. I am in durban, South Africa, we currently have a 5000CFM exhaust fan on our

[2018-01-26 17:34] anselal commented on #59
Should have seen that the specs at bitmain's site mention the number of chips and boards on the A3. Sorry for the delay guys.

https://shop.bitmain.com/productDetail.htm?pid=00020180116164357365a2ljX8gx06D3

[2018-01-26 18:01] brmcc commented on #59
Hey anselai, thanks for the add!!  I honestly though this project had been abandonded since I hadn;t seen any activity on it in awhile until recently. I'm sending a donation right now as this project has been great for me.

I'm not a programmer by any means but I've hacked mine up enough to show me cabinet temperature from a TempER sensor, and power stats from a Neurio.  I just have shell scripts

[2018-01-27 22:23] #10 closed

[2018-01-27 22:23] #25 closed

[2018-01-27 22:23] #59 closed

[2018-01-28 05:16] hansje69 commented on #32
@anselal , you did not include different port function other than 4028 yet right ?

[2018-01-28 12:53] carlcbilodeau opened #62 "Need meteo information on screen"
I would like to see on top of the screen a widget showing the Meteo in the area of my mining rigs.

When we wake-up in the morning in is is cold outside, it is going to be an easy day. If it is hot, more worries.

Thanks

[2018-01-28 13:15] starrateit commented on #59
Hi,
Trying to use the latest create_db.py.
How to do I append to the existing DB or drop the old DB and then re-create?
Would be better to keep existing miners already loaded and just have to append, so I don't have to recapture all miners?
I am getting this
sudo python create_db.py
[INFO] Database already exists.
Thanks,
Spencer

From: brmcc [mailto:notifications@github.com]
Sent: 26 January 2018

[2018-01-28 13:15] carlcbilodeau opened #63 "Need a programmable script button for each miner rigs"
**Suggestion:**

I have bought a SainSmart iMatic 16 relay board and controller. This controler has a RJ45 port to connect on my network. There is a 8 and a 16 relay version.
Those 16 relay can be use to shut power to 1 or 2 rigs to reboot them remotly. This is what we call a COLD REBOOT,

On amazon: https://www.amazon.com/SainSmart-iMatic-Controller-Interface-Compatible/dp/B00JJJK2UQ/ref=sr_1_1_a

[2018-01-28 15:12] carlcbilodeau opened #64 "Fan speed color"
For the S9 we have to two fans. One front and one rear. Antminer-monitor display both of them.

We should think of a color code. If the fan is less than 5000 = green, 5000 or more = yellow and more than 6000 = red.

More important, if the rear fan speed is faster than the front, then the rear **fan speed should blink**.
This would bring the situation to our eye. We want maximum air pressure inside

[2018-01-28 15:44] hansje69 commented on #62
i think this is useless and waste of time for general usage of people monitoring their miners... I mean, nobody is asking for a embedded rtsp stream in the monitor for checking miners on the cctv either. what i want to say is that @anselal can probably make everything, but personally i think people already went too far with requests for miners other than the ones from bitmain as well as having rea

[2018-01-28 15:59] carlcbilodeau commented on #62
Each one should come with his experience and tell what he needs. This is the only way we can build a good IT system. I am myself a analyst-programmer. @anselal like any project leader will pick what is he willing to build and will deternine the among of time he is ready to put. 1 - Get users needs, 2 - Brainstorm-analyse, 3 - Programming, etc.

If @anselal is like all the analyst-programmer, for s

[2018-01-28 16:30] anselal commented on #59
@starrateit you can use the new update_db.py script 😉
More i fo i the README.md file !!!

[2018-01-29 07:22] anselal commented on #32
Sorry @hansje69 it is the next step. I am working on a new layout and design that's why I didn't include this change yet. Please be patient and I will add it as soon as possible. I will probably release a new version within a week or so

[2018-01-29 07:41] hansje69 commented on #32
Will you include localhost tunneling script as well? or leave that up to everyone to do themselves who for whatever reason MUST be able to monitor their miners elsewhere/abroad/etc ?

I've read some use localhost tunneling services such as pagekite, or another one, which costs a certain fee for using their service if premium instead of basic.

[2018-01-29 09:26] anselal commented on #32
Unfortunately tunnelling won't be part of this software, at least not in the near feature. You can set up tunnelling via ssh which is free to use.

[2018-01-29 09:35] anselal commented on #37
I am working on a new table design which will include proper IP sorting.
Stay tuned !!!

[2018-01-29 22:31] anselal commented on #45
We will try to make it generic enough or at least support more miners like Avalon ang GPU rigs. We are working on an API right now as you know 😉

[2018-01-29 22:31] #45 closed

[2018-01-29 22:35] anselal commented on #43
After the new API we will add more fields to the database and bind them with a nice UI so the user can set more settings per miner. Please be patient

[2018-01-31 19:22] sergioclemente opened #65 "Couple of features built into my fork"
Let me know if others would find useful and we can discuss how to integrate into @anselal's version:

1) Show fan percentage if provided by the miner
2) Show clock frequency of the miner
3) Restart (By using cgminer api)
4) Verbose section for all messages in the miner
5) Daemon that checks for errors every 5min and sends a mail if something is found
6) Support for Avalon 741
7) Basic authenticati

[2018-02-01 01:36] anselal commented on #65
Very nice @sergioclemente thanks.
- To use cgminer-api's restart command did you have to edit the config file of the miner via ssh? I found that this is the only way. I have tested many more commands like changing pool prikrities which is working great !!!
- Did you add support for the Avalon using the snippet i sent you ? I hope it helped.
-  I will add a login screen using the Flask-Login extens

[2018-02-01 17:18] anselal opened #66 "Antminer R4 support"
A user on reddit asked for support for Antminer R4.

Can you add the R4? It only has 2, instead of 3, boards (126 chips).

[2018-02-02 21:49] carlcbilodeau commented on #46
The MinerTool supplied on [Bitmain firmware](https://shop.bitmain.com/support.htm?pid=00720170915192851224mJ36J1ap066E) page at the bottom (Antminer Toolkit) shows another way of changing the pools for all the Antminer. This is what I use to change all my pools.

[2018-02-06 14:59] Pavelivn opened #68 "Dead pools"
If all pools is Dead set color background and write warning in log.

[2018-02-07 07:05] anselal commented on #68
Hi, thank you for using my software.

I am not sure how i can check that all pools are dead. I will have to do a research first.

[2018-02-08 11:41] anselal commented on #46
@carlcbilodeau What do you mean with:

we are talking code here...

[2018-02-08 13:20] gnanet commented on #46
I think thats what @carlcbilodeau is talking about https://shop.bitmain.com/support.htm?pid=00720170302102826819kGXDSLgM069C

but both are Windows apps

[2018-02-08 13:25] anselal commented on #46
@gnanet I am aware of the software for a long time. The thing is that we want the source code here and not the compiled app. I am sure that they change the pool settings via ssh.

I covered our options in a previous comment though

[2018-02-08 13:49] carlcbilodeau commented on #46
@gnanet I totally agree, we need the code here.

[2018-02-08 13:55] anselal commented on #46
I already have the code...

[2018-02-08 13:56] anselal commented on #46
Just wait for the implementation...

[2018-02-08 15:44] carlcbilodeau commented on #46
@anselal One thing I liked on the Bitmain Antminer Toolkit is the semi-automatic registration of machines. Let say you have 20 new S9. You connect them from 10.0.0.140 to 1.0.0.160. In the first screen, you enter the starting an ending ip address and by a click of a button they are all registered. When we have many machines we are forced to have them in order. If we could have it on our antminer-m

[2018-02-08 16:46] rwalli commented on #65
Hi,

I would also try the "e-mail" feature but the above link give me "Error 404"

Robert

[2018-02-09 01:02] anselal commented on #46
@carlcbilodeau please open a new issue for new feature requests if they don't already exist. If by registered you mean to auto add them in the software i will have to inform you that it will be available in the next releases

[2018-02-09 02:26] carlcbilodeau commented on #46
@anselal Fantastic. Yes auto add from a starting address to and ending address. So goooood.

[2018-02-09 09:15] anselal commented on #62
Thank you guys for the support and faith you are showing in my software as well in myself.
I have to admit that I don't have the time to implement all the requests in time but I really wish I could.

Adding a widget with meteo info is out of the scope of AntminerMonitor but is really easy to implement.
To be honest I didn't think of it as an option at all.

I will look for some nice widgets online

[2018-02-09 10:01] anselal commented on #62
So I found a nice widget from Accuweather at https://www.accuweather.com/en/free-weather-widgets/current.

You can configure it to show the temperature in your city and copy the code somewhere inside the app/templates/myminers.html file. I would suggest to paste it at line 50 inside the empty `<div></div>` tag

https://github.com/anselal/antminer-monitor/blob/d77f32f87cbff2e39ffed51bf8cfcb6a80f20a

[2018-02-09 14:15] anselal commented on #62
Another beautiful weather widget like site is http://wttr.in/

You can use it like http://wttr.in/Thessaloniki_tqp0_transparency=150_lang=en.png and set the city, transparency and display language. The zero after the `p` indicates that only the current day will be displayed. You can play around with that value like 0, 1, 2, 3...

To add it in the html template add it like:

[code]

[2018-02-09 14:55] carlcbilodeau commented on #62
This morning, before breakfast and before the bathroom, I looked at my Antminer-monitor, then Meteo, then the Bitcoin value. So I like these two widget you are showing.

I have found this widget that seems even smaller if space is a problem: https://www.theweathernetwork.com/weather-widget

I see that Accuweather has an even smaller widget: https://www.accuweather.com/en/free-weather-widgets/curre

[2018-02-09 19:56] anselal commented on #62
The accuweather widget doesn't have many sizes. It just shows you how the widget scales when you resize the browser's window.

[2018-02-10 17:54] sergioclemente commented on #65
I am waiting for @anselal submit the latest changes so i can try merge into his fork, right now the code is already pretty different and a bit incompatible. I've put a gist with the part you are interested

https://gist.github.com/sergioclemente/201bb6f5abffe4c792c897fdf9a69978

[2018-02-11 21:24] Artemis3v commented on #66
It was me. Some additional info:

[2018-02-12 03:52] mpevner opened #69 "Error handling null temperature"
In the scenario of a bad miner, it is possible for it to return no temperatures. When this occurs, the max(temps) check fails with the error:
max() arg is an empty sequence

I've done a junky patch to just manually add a 0 entry, but it might be better to detect for this and error accordingly. While I don't think this would cause a crash with the other values, it might be good to check for null sc

[2018-02-12 08:45] anselal commented on #66
I will include the R4 in the `update_db.py` script probably later today !!!

[2018-02-12 08:50] anselal commented on #69
Thank yo @mpevner for using my software. I had this error reported by another user but I couldn't debug it to see what exactly caused this error. I think this maybe due to the socket.timeout be set to only 1sec. If you get this error often can you please increase the socket timeout to a higher value, eg. 3, and let me know if this works for you ?

https://github.com/anselal/antminer-monitor/blob/7

[2018-02-12 09:03] anselal commented on #63
Sorry, but I don't think this is something an everyday user will use so I am not gonna add this function to the codebase. I am closing this issue. You can always fork my software and add custom functions that suits your needs

[2018-02-12 09:03] #63 closed

[2018-02-12 09:06] anselal commented on #64
I am currently working on a new design for the tables and I am using a javascript library. I am not sure if the library's API gives me the ability to color specific fields. I will have too look into it and come back for more info.

[2018-02-12 11:01] mpevner commented on #69
Set that to 5 and undid my quick fix, it seems to work. Oddly, while the miner (a D3) reports no temperatures on its own miner status page, it's still returning A temperature. Of what I'm not entirely sure.

[2018-02-12 11:03] anselal commented on #69
Maybe the miner's interface has the same problem with the timeout and cannot retrieve the temperature from cgminer's api. If you think that this fixed your problem please close this issue ;)

[2018-02-12 11:04] mpevner commented on #69
Sounds sensible to me! Thanks for the assistance!

[2018-02-12 12:31] anselal commented on #32
Almost ready. Need to run a couple more test here...

[2018-02-12 14:33] carlcbilodeau opened #70 "Reorganize the three pools order"
Each week or day I have to reorder the three pools of my Antminer. I mine BTC and BCH. I go on https://www.coinwarz.com during the day and if I see BCH pays more than BTC then I switch my pool 1 with my pool 2.
So I would need a tool that could quickly reorder my three pools order.

Precision: I mine BTC at Slushpool but they don't support BCH so to mine BCH I use Antpool (but they don't pay the t

[2018-02-12 19:51] anselal commented on #70
I have implemented and tested this feature on my local machine and it works fine. I just need to create the User Interface.

For the time i would suggest to mine in viabtc using the smart pool. This auto switches between BTC and BCH depending on which is more profitable.

[2018-02-16 23:07] danny890 opened #71 "Login screen"
Is there a way to password protect the miner status page So i can access it external?

[2018-02-17 14:36] anselal commented on #71
Sure @danny890, we will add a login screen in the next releases ;)

[2018-02-17 14:52] carlcbilodeau opened #72 "Did not detect S9 not connected"
Something weard happended to me yesterday. Antminer-monitor was showing no problem for all machines. But looking at my pool dashboard I realized that one of them was not listed in the active workers.  It has been disconnected for 3 hours without me knowing.

Normally I trust antminer-monitor and I don't look at the pool dashboard. I did a warm-boot of machine number 18 and everything was ok after

[2018-02-17 15:14] danny890 commented on #71
That would be awsome!

[2018-02-17 15:20] anselal commented on #72
As i understand it the software was showing the miner as active without any errors, right? But you say that the miner was shiwing as inactive in your pool dashboard. Could it be that the miner switched to the second pool ? Maybe i can show the time past from the last share and notify if that goes beyond a threshold.

[2018-02-17 16:03] Artemis3v commented on #64
IIRC the front is 6k rpm and the rear one is 4k. BTW the R4 uses a single 3k "vertical" fan (which i keep maxed by not using the control wire).

[2018-02-17 16:15] Artemis3v commented on #60
That would be useful considering mine likes to peak at 110°C, but at the same time the second sensor on the same board reports 80°C or so... (newer Bitmain boards show a single sensor).

[2018-02-17 19:50] carlcbilodeau commented on #72
I was on Antpool, all my S9 on BTC and there is no auto-switch on Antpool. I guess your solution about the last share should be right.
It was my second day at Antpool. I was previously on slushpool but was making 4$US/day for 15 days after elect per S9. With Antpool I am making 10$.

[2018-02-17 20:53] anselal commented on #72
The miner switches automatically to the next pool if there is a connection error with the current pool. This feature is hardcoded into the miner's software.

PS: 10$ is way low unless it is your profit minus electricity

[2018-02-17 21:23] carlcbilodeau commented on #72
You are right. It simply switch to my 2nd pool. I just saw it on the dashboard of the other pool. Did not think about this yesterday.
Could we have different color when it is mining on second or third pool? What do you think?
Yes 10$ is profit. I am totally lost on pools. I suppose I should go like you said : viabtc.

[2018-02-17 22:24] anselal commented on #72
The good thing is that the software is working without problems.

I can add a field in the table with the current pool but the table will grow. You can always set a different worker name for every pool and check it since i display the worker name.

[2018-02-17 22:45] carlcbilodeau commented on #72
Personnaly, I would raise an error in pink just like you do in the following exemple:

[ERROR] ASIC chips are missing from miner '10.0.0.xxx'. Your Antminer 'S9' has 'xxx/189 chips'.

It could be [WARNING] One or more ASICS are actives on alternate pool.

I would do it because I look at the screen 20 times a day. If we have a message on top, we will not miss it.

[2018-02-18 06:19] anselal commented on #72
Or it could be just an [INFO]. I will look into it

[2018-02-18 18:24] ThinkCode commented on #19
I want to know the temperatures every 3 hours or so when I am away till I am comfortable with the error alerts when ever they happen with a bool flag as suggested.

I will add the email code and deploy it on a Raspberry PI. SMS alerts only for set thresholds.

Thanks @anselal and @pedrosimao, you guys saved me an entire weekend! Donations once I mint some bitcoin, just started!

[2018-02-19 21:55] dmelvin opened #73 "Add SNMP"
I don't even know if this is possible, but could a custom SNMP table be added to allow monitoring via a third party SNMP server?   Essentially using AntminerMonitor as a SNMP proxy for use with PRTG or other monitoring software?

[2018-02-20 12:58] anselal opened #74 "Miner temperatures returned as 'NULL'"

[2018-02-20 13:02] anselal commented on #74
ValueError: max() arg is an empty sequence

This error for fixed in #69 by increasing the socket timeout but as it seems this won't solve the issue all the times.
We have to add an if statement to check if we retrieved any temps from the miner. If we don't we show an error.

[2018-02-20 13:09] #74 closed

[2018-02-20 13:17] anselal commented on #60
I think i will release an update within the week. Here is a screenshot so you can have a taste of my work in progress.

![2018-02-20_11h57_06](https://user-images.githubusercontent.com/8732668/36425931-2cbdd94a-1651-11e8-8c62-fc045e366e54.png)

[2018-02-20 13:22] anselal commented on #64
I just parse the JSON response from the cgminer-api. Usually the first fan speed is the front and the second is the rear I guess.

[2018-02-20 13:31] anselal commented on #73
This is totally out of my league. I haven't worked with SNMP before.

[2018-02-20 14:06] starrateit commented on #60
Awesome, looks good.

From: Anastasios Selalmazidis [mailto:notifications@github.com]
Sent: 20 February 2018 03:18 PM
To: anselal/antminer-monitor <antminer-monitor@noreply.github.com>
Cc: Spencer Bizzell <spencer@starrateit.co.za>; Author <author@noreply.github.com>
Subject: Re: [anselal/antminer-monitor] Editable High Temp Variables (#60)

I think i will release an update within the week. Here i

[2018-02-20 15:09] carlcbilodeau commented on #64
I think we can not tell. I just verified and half my S9 have front connected to Fan5 and half have it to Fan6.
I will definitively connect all my front to Fan5 and rear to Fan6 in order to be able to know how my fans behaves.
The two connectors are on top of the miners very easy to connect.
Maybe on your screen you could have a (?) and when we click on it, it explains to make sure front is connect

[2018-02-21 08:56] anselal commented on #64
@carlcbilodeau Thank you for the feedback. Indeed there is no easy way of determine which is which.

The good news are that I am testing the per miner settings and I have added warnings and error about the temperatures as well as for the fan speed. So maybe with this implementation there is no need for colouring individual cells. I attach a screenshot so you can have a taste of our work in progres

[2018-02-21 17:34] carlcbilodeau commented on #64
It is very good to be able to fine tune for each machine. I have two that are more sensible and I will have to do a fine tuning for them both.

The Remarks field is important since it will help remember specific informations like: Reboot each morning, etc.

[2018-02-21 23:58] #66 closed

[2018-02-22 00:02] anselal commented on #70
This is a duplicate issue #46

[2018-02-22 00:02] #70 closed

[2018-02-22 01:38] anselal commented on #62
The community decided not to include this feature in the software.

https://twitter.com/AntminerMonitor/status/961904972924375040

You can always use widgets like the ones I mentioned above to check the weather.
I leave this issue open in case I find a lightweight way to display the info you requested.

[2018-02-22 09:33] anselal commented on #64
@carlcbilodeau The remarks are also available from the first version of the software. I thought it would help some people organising their miners like taking a note of the rack or ethernet port you placed your miner (if you own a lot of machines of course)

[2018-02-22 21:30] gnanet commented on #62
I should look into my twitter feed more frequently, because i missed this one...

45 vs 55 clooooose result, but [KISS principle](https://en.wikipedia.org/wiki/KISS_principle) for the win ;)

[2018-02-22 22:34] carlcbilodeau commented on #62
Above 20% is considered a good score for any feature. If 45% of users are sensible to outdoor temp, it is huge. Enough to consider a fork...

[2018-02-22 23:29] gnanet commented on #62
I have an idea, maybe @anselal also expressed it: instead of building every widget as a feature into the page, a general-widget-feature could be added, where the experienced user is able to add the widgets they want in some generalized way, MAYBE AS BUT NOT LIMITED TO an iframe url with placement data (top,left,width,height) ...

the implementation of this general feature is a fork worth, or? ;)

[2018-02-23 10:47] anselal commented on #62
As I stated I am open to new suggestions this is why I leave this issue open.
I am currently focused on more hot features like login/miner settings etc.

[2018-02-23 20:18] 3ricj commented on #19
A general comment on monitoring -- it would be lovely if this could operate like a pluggin to nagios or some other monitoring system.

[2018-02-23 21:35] anselal commented on #19
@3ricj what do you mean exactly ?

[2018-02-28 09:45] AndreyNag opened #75 "Add Pantech support."
Hello.
I have some Pantech X5 and X7 miners. Which comand can give info which you need to add support this miners?
For example i add some here.
[code]

[code]

[code]
Thnx.

[2018-02-28 20:19] sergioclemente commented on #65
Closing this for now. Again I am open to migrate features if others find useful

[2018-02-28 20:19] #65 closed

[2018-03-01 07:09] anselal commented on #75
I will se what I can do

[2018-03-01 07:39] shotaatosh commented on #71
this will be great!

[2018-03-01 07:46] shotaatosh opened #76 "errors after 20+ ASICs"
In last release I'm encouraging errors after adding more than 20 miners, I did try in several farms with D3s and S9s mostly and same. `File "C:\Python27\lib\site-packages\flask\app.py", line 1997, in __call__
return self.wsgi_app(environ, start_response)
File "C:\Python27\lib\site-packages\flask\app.py", line 1985, in wsgi_app
response = self.handle_exception(e)
File "C:\Python27\lib\site-packages

[2018-03-01 07:57] anselal commented on #76
I have no overview of your network topology and setup but I assume your miners are behind a couple or more routers and/or switches ?

I have seen the error before. Please try to increase the socket timeout to a higher value like 3 or 5 seconds.

In the latest version (v.0.4.0) the line you have to change is:

https://github.com/anselal/antminer-monitor/blob/c44b6e323b21d6ad879b737bbc2a45e4ffe2dbab

[2018-03-01 08:13] hansje69 commented on #71
Great indeed, to some a few things up what I would love to see and is scheduled for a future update:

- Login Access (prevent easy remote access, although I managed to do that already with a simple .htaccess file, reference: http://www.htaccesstools.com/htpasswd-generator/

- Remote Access from external ip’s (if my dedicated Ubuntu server runs the python script, I can’t access the antminermonitor

[2018-03-01 08:47] shotaatosh commented on #76
I will try that and respond
Thanks

[2018-03-01 13:45] danny890 commented on #71
I also run a Ubuntu server..
I can access the page from an external ip

[2018-03-01 13:49] danny890 commented on #71
Btw thanks for the htaccess page.
Im going to use that till the project is updated!

@anselal bought you a beer for the great work!

[2018-03-01 14:03] anselal commented on #71
@danny890 thank you very much for the support, I really appreciate it. Was your transaction the one from 27/2 using BTC ? I ask because I  log my donations

[2018-03-01 14:26] danny890 commented on #71
https://blockchain.info/tx/f62e08cc451204d47695378022827a9f5125d9c35f80a6a39d9d2838875c451d

[2018-03-02 15:01] sergbere commented on #37
Would it be possible to implement a table sorting by any column? Would be beneficial to check not only by IP address, but by Hostnames, uptime, HW error count, etc.
Some ready solution here to give an idea:  http://tablesorter.com/docs/

[2018-03-02 15:49] anselal commented on #37
I was gonna use datatables.net

[2018-03-02 16:13] sergbere commented on #37
That one is also fine. Thanks!

[2018-03-02 16:31] shotaatosh commented on #76
I guess increasing socket timeout helped this issue,
Thanks!

[2018-03-05 09:50] anselal commented on #76
Duplicate at #33

[2018-03-05 09:50] #76 closed

[2018-03-11 08:30] mpevner commented on #69
Sorry to re-open, but it seems that hardware can fail such that no sane timeout will return a temperature (or even at all). I don't suppose a fault detection for timeouts would be sensible? Interestingly it still returns fan temperatures.

[2018-03-11 11:14] anselal commented on #69
Have you checked the miner's interface to see if it shows any temperatures ?

[2018-03-11 11:15] mpevner commented on #69
Yes, and no temperatures were shown. As a result, it seems no temperatures are collected (and thus max() null errors)

[2018-03-12 08:07] anselal commented on #69
If the miner's web interface doesn't display any temperatures then my software cannot collect any data. Maybe there is an issue with the temperature sensor on the board. I recommend you contact bitmain to resolve your issue.
We would appreciate any feedback.

[2018-03-12 08:35] kee4834 commented on #30
Hi Guys,

I'm facing issue with another PC,How do I solve this?

c:\python27\python.exe: can't open file 'run.py': [Errno 2] No such file or directory

Thanks in advanced

[2018-03-12 08:37] anselal commented on #30
@kee4834 If you have update to latest version you should read the documentation (README.md file) on how to start the app since some things have changed.

[2018-03-12 12:59] mpevner commented on #69
Quite agreed on replacement -- already working on that. The problem with regards to this though is the page is entirely replaced with a python error -- Ideally it would instead show a 'faulty report' error or somesuch and carry on as normal with the other units.

![empty sequence error](https://user-images.githubusercontent.com/644116/37284906-a4e43540-25d3-11e8-978c-744867f26940.png)

[2018-03-14 11:56] anselal commented on #69
@mpevner I guess you are using an older version. I have added a check and fixed this issue. Please upgrade to the latest version and let me know if that fixed your issue so we can close it

[2018-03-14 12:58] mpevner commented on #69
Aha! Wonderful!
I was indeed running an older version, I've updated it (and saw the note in the commit history), and it works perfectly.

Thanks!

[2018-03-14 12:58] #69 closed

[2018-03-19 18:27] carlcbilodeau opened #77 "Need WU column"
The two most importants columns are Temperature and WU. But WU is not there yet.

WU is the product of the Miner difficulty x number of shares per minute. Personaly when WU is between 188k and 194k for a 13.55TH to 13.7TH S9 I am satisfied. For a 14TH S9 I am satisfied when WU is 200 or more. For a 13.2TH S9 I am satisfied with 184k.
Below these values I do in this order:
1 - Ping tests toward the

[2018-03-19 18:30] anselal commented on #77
What does WU stand for and where did you get the formula from ?

[2018-03-19 18:51] carlcbilodeau commented on #77
The "Diff" colum on the status page gives you the actual difficulty set either by you in the pasword field of the miner or set dynamically by the pool.

This difficulty number is the difficulty of the shares that your S9 will take. It is a multiple of 2. 2x2x2x2....x2. For S9 we set normaly 32768 or 16384 or 8192. In the column "Diff" you will see either 32.8k, 16.4k or 8k.

If your internet conne

[2018-03-19 19:03] carlcbilodeau commented on #77
BTW,

LSDiff - is the difficulty of the last share processed by your S9.
LSTime - is the time since the last share has been processed.

[2018-03-19 19:06] carlcbilodeau commented on #77
I forgot to say

DiffA is the difficulty of the Rejected x Number of accepted
DiffR is the difficulty of the Rejected x the number of Rejected.

@anselal Almost nobody knows about all these informations. You are among the firsts to read about it. Enjoy!

[2018-03-19 19:15] carlcbilodeau commented on #77
I should also say that if you mine on a small pool, you should not have a 32.8k difficulty. Why? A very big pool will find many many blocks per day. Let say this pool has 30% of the total hash power. This means that 30% of the times they will find the next block and will start hashing the next block before anybody else. In a single day your are 0.3% richer on this big pool.

So if you are on a sma

[2018-03-19 19:32] carlcbilodeau commented on #77
Forgot to say, a difficulty of 32.8k in my opinion is for pool with more than 22% of the total Hash power or for those with a bad latency.

[2018-03-19 19:40] carlcbilodeau commented on #77
To test your latency, on your S9 go on Network, "Diagnostic". In the ping field enter your pool server address like : us.stratum.viabtc.com:3333
and then you test the ping. In my opinion it should be 20 to 40ms. Do it for all S9 since one of them could have a bad wire. Do it many many times during the day. If you see sometime more than 100ms or even 1000ms then it is not good. Maybe you need to in

[2018-03-20 15:00] carlcbilodeau commented on #77
Maybe we could have a "DiffA" wathcher. We could specify a minimum value for DiffA for each S9. If the DiffA is too low, then we get the warning. When DiffA is too low for all the S9 it is time to switch the pool if there is no internet problem. DiffA is directly related to the revenue the S9 will bring.

[2018-03-20 15:18] carlcbilodeau commented on #77
The Antminer-monitor could show on the screen the average DiffA. We should also be able to set a minimum. A warning would then tell us to change pool if the Average DiffA is too low.
In the last 12 hours, my DiffA for my S9 on pool viabtc have an average 131,231,519 while those on btc.com have an average of 133,233,536. I suspect the US server of viabtc to give me a bad ping (some 46ms) compared t

[2018-03-22 12:31] TRingo1 opened #78 "Miner url link"
Would it be possible to have the url link on the IP address of the miner go right to the ant miner status page? I always am clicking right to the status page.

**currently links** to http://1.1.1.1

would it be possible not sure if each version of miners supported would this work:

**suggested link**  http://1.1.1.1/cgi-bin/minerStatus.cgi

[2018-03-22 12:54] anselal commented on #78
Hi there,

thank you for using my software. This is interesting. I am pretty sure all antminers have the same urls for the status page.

It is a very small adjustment but I am currently doing some changes in the code so you will have to wait until the next release ;).

[2018-03-22 12:55] anselal commented on #77
@carlcbilodeau I will need some time to read through all of that ;)

[2018-03-22 13:38] carlcbilodeau commented on #77
A correction:
I wrote: DiffA is the difficulty of the Rejected x Number of accepted

But it should have been:
DiffA is the Difficulty of the Accepted x Number of accepted

And a precision about small pools:
Some small pool do better than other small pool because they do "Spy mining". To do spy mining, the owner of the pool set a miner machine on the pool that he want to spy. When he see that this

[2018-03-22 22:35] TRingo1 commented on #78
I do like your software! nice work!

[2018-03-27 22:49] danter83 commented on #32
Hi anselal - I am using lot of miners with mentioned setup, IP:port , just wondering if you been successful with development of port feature ?

[2018-03-28 05:14] anselal commented on #32
@danter83 thank you for using my software. This feature will be part of the upcoming release along with some other features.

How many miners do you monitor if you don't mind me asking and how much time does it take to load the stats for all of your miners ? I am looking for feedback on loading times to see how my software scales.

[2018-03-28 12:25] anselal commented on #32
@shotaatosh from a couple hundred to a few thousand miners

[2018-03-28 12:29] anselal opened #79 "Benchmark loading time"
I need feedback on how much time it takes to load the page with as many miners as possible, from a couple hundred to a few thousand.

@shotaatosh @danter83 ? Can you give me some feedback ?

You can post here the number of miners and the time it takes to load the page. Also if you have changed the socket.timeout this info would also be useful.

Any feedback would help !!!

PS: The loading time als

[2018-03-28 12:44] shotaatosh commented on #79
I can gather no more than 60 miners in one place for now

[2018-03-28 12:48] anselal commented on #79
@shotaatosh Fair enough

[2018-03-29 00:02] gnanet commented on #79
https://github.com/inconshreveable

loading time with a hugely mixed active-inactive list of 85 pcs of D3-s
inactive: 49 active: 36
TTFB: 43.33sec

[2018-03-29 00:17] danter83 commented on #79
I cant say how much time will it take as I need the version which supports port numbers so I can test - I have only remote access to my miners without access to LAN.

[2018-03-29 00:20] gnanet commented on #79
this ttfb was measured over a distance with a sshtunnel from home to the mining farm, with antminer-monitor running at the farm

[2018-03-29 05:08] anselal commented on #79
@gnanet If you remove the inactive miners the loading time with decrease significantly

[2018-03-29 16:54] gnanet commented on #79
@anselal i know, but this was at least a real-world scenario, where last time i managed the ip list there were much more miners active, than dead or removed ;)

Is there a discussion about how to keep the list of miners uptodate, but not risking to miss alerts of failing miners. Kind of first alert about, then the failure could be acknowledged, at that point active monitoring shall not check the d

[2018-03-30 02:42] Pavelivn commented on #79
250 miners 1 inactive TTFB: 3.652 sec on server.

[2018-03-30 05:21] anselal commented on #79
@gnanet Notifications will be part of this software in the next releases.

@Pavelivn Nice !!! What do you think about the time ? I think it is pretty quick but can be quicker if I change my code !!!

[2018-03-30 05:38] Pavelivn commented on #79
You can change the code provided that there are no false positives.
Sometimes 1-2 miners are displayed inactive, although they are active.

[2018-03-30 05:40] anselal commented on #79
@Pavelivn  I hear that for the first time. If the connection to the miner is lost then the miner is displayed as inactive. I guess if you refresh the page the miner appears as active again ?

[2018-03-30 05:52] Pavelivn commented on #79
All right. There is a suggestion that miners, under certain conditions, respond with a delay.

[2018-03-30 05:55] anselal commented on #79
@Pavelivn If this happens to your setup often you can try to increase the socket timeout in the lib/pycgminer.py file

[2018-03-30 09:55] anselal opened #80 "Blueprints"
@sergioclemente  I am currently finishing refactoring the app into blueprints.
Blueprints are Flask's way of creating components (http://flask.pocoo.org/docs/latest/blueprints/).

I have moved the Views, Models and Templates into a blueprint. Actually I have created two blueprints, one named _antminer_ and one _antminer_json_.
The thing with the blueprints is that you can organise a set of routes

[2018-03-30 11:33] anselal opened #81 "Design Patterns/Models"
@sergioclemente Here we can talk about Design Pattern/Models (DP) for scaling AntminerMonitor.

A friend suggested two DPs:

- Memory Model
- Database Model

Both store data in memory, the former in RAM and the latter in the DB (disk).
With this approach we have a background task querying the miners and storing the data into _memory_ of _db_. The View displays all data that are currently in the me

[2018-03-31 09:12] imac1844 opened #82 "Can I connect remotely ?"
Can I connect remotely ?

[2018-03-31 09:19] hansje69 commented on #82
Not yet, I believe it’s part of the different port on the same ip & userlogin “updates”, which is most likely being implemented in the next update. (I hope so)

[2018-03-31 10:00] anselal commented on #82
@imac1844 you can connect remotely if you forward a port in you router. If you don't know how you can consult this site https://portforward.com

I close this issue because it is out of topic.

[2018-03-31 10:00] #82 closed

[2018-03-31 10:34] imac1844 commented on #82
@anselal Thanks for the answer!
 It's not a problem. My Antminers are remote and I have already configured the remote ssh connection (w / RSA key)  and different port then 22 , and w / DynDns service ( I have a dynamic address on the remote router).
like that :   ( two antminers )
ssh -p 3301 root@myserver.dyndns.info
ssh -p 3302 root@myserver.dyndns.info
and it works!
How do I specify the ports a

[2018-03-31 10:53] anselal commented on #82
My app runs on port 5000. If you forward that port you gain access to my software but there isn't a login screen yet so be careful not to publish your dyndns to anyone

[2018-03-31 11:33] imac1844 commented on #82
I have't remote server , only router and miners. I install antminer-monitor on local   MacBook.
As I understand, this option will not work. Thank you for attention !!!

[2018-03-31 11:39] anselal commented on #82
I see. The best option is to buy a raspberry pi which will cost you around $50 and install the software there. Most of the users as myself prefer this setup ;)

[2018-03-31 11:40] imac1844 commented on #82
Yes I have!!!

[2018-04-04 15:20] herveyy opened #83 "SSH Power off device"
Firstly I would like to congratulate your efforts on a great application.

I had a question around the possibility for your application to SSH and power off a device if the high temp alert is activated.

You have shown settings views , but it’s not visible in your latest version , when will this be rolled out please.

Could the worker address be editable to you could have a hyper link , just like

[2018-04-06 09:45] SiDR2013 opened #84 "Add support for Innosilicon A4+ A6"
It would be very good if you can add Innosilicon A4+ ASIC
I have done like you say in "Can you add ebit e9+?" thread and here is file
[](https://gist.github.com/SiDR2013/31cfb626b5571ad1f4831f6075ecc884)
Also here is discussion thread [](https://bitcointalk.org/index.php?topic=2549898.0)
And here is firmware if it can help [](https://github.com/aepkolol/innofirmware)

[2018-04-10 19:37] CirrusThink opened #85 "DragonMint B52 and/or B59 ?"
Any thoughts on adding models from Dragonmint ?

[2018-04-10 20:16] anselal commented on #83
Dear @herveyy thank you for using my software and for your support !!

SSH Control is duplicate #1

About the worker address. The worker address is a wallet address only in some cases and it depends on the pool. I could add this functionality to check if the worker is an address and what address it is and create a link. I will open a new issue on this ;)

[2018-04-10 20:16] #83 closed

[2018-04-10 20:30] anselal opened #86 "Create link if worker is a wallet address"
We could check if the worker is a wallet address and render it as a link which would point to the particular block explorer depending on the wallet address.

I was thinking to check for the first letter of the worker but this is just stupid.
@sergioclemente Any ideas on how to regex/validate wallet addresses ?

[2018-04-10 20:32] anselal commented on #84
Great !!! I will take a look at that ;)

[2018-04-10 20:34] anselal commented on #85
Sure !!! I was hoping someone with a Dragonmint would open an issue.
I need some info to get started. Please read #51 and #84

[2018-04-11 12:29] CirrusThink commented on #51
The app does return with errors when adding it, do you want those errors or do you want me to ssh into the miner and look at cgminer ?

[2018-04-12 05:08] anselal commented on #51
Can you add a screenshot of the error ?

[2018-04-13 09:49] Demitrius commented on #19
Guys, does Error via Email feature works from the box?
Have you plans to release this?

[2018-04-13 09:53] anselal commented on #19
@Demitrius Thank you for using AntminerMonitor. We are doing our best to implement all the requested features.
We plan to release this feature in the near future.

[2018-04-13 13:32] shotaatosh commented on #19
before error via email function will be implemented imo it is more important to choose what errors to get

[2018-04-13 13:38] Demitrius commented on #19
Agree. It must have configurable thresholds.

- Temperature
- Online/offline
- Fan speed
- Hashrate
- HW error rate

[2018-04-16 01:03] stangri commented on #28
@anselal can you maybe post your script as a jist and link it from this issue for a time being? Thanks!

[2018-04-16 01:55] stangri opened #87 "Support for T9+ 10.5 TH/s"
Please add the profile for T9+ 10.5 TH/s variant with 162 chips.

[2018-04-16 03:14] stangri commented on #87
https://github.com/anselal/antminer-monitor/pull/88 ;)

[2018-04-17 10:35] anselal commented on #28
I was running the app using gunicorn, which runs only on Linux machines and I proxy it through nginx.

Now I just run it with gunicorn but you can't use my config because I am currently refactoring the codebase and haven't pushed the changes yet. I was gonna update the readme but yesterday I read that gunicorn is not available on Windows which I was not aware of.

So I will add this option only fo

[2018-04-17 17:50] stangri commented on #28
The reason I asked is that having never dealt with python before I wanted to see how it's done on other systems to write an init wrapper for OpenWrt.
But it wasn't very hard and I've created an easy to install package for OpenWrt: https://github.com/stangri/openwrt_packages/blob/master/antminer-monitor/files/README.md.

Because of dependencies, it requires router with large flash (definitely more

[2018-04-17 18:40] anselal commented on #28
@stangri WoW. I will definitely rweet about. I didn't knew that my monitor was such lite that it could run on a router !!!

[2018-04-17 18:43] shotaatosh commented on #28
this means I can run it on cheap router with openwrt???

[2018-04-17 18:46] anselal commented on #28
@shotaatosh better buy a raspberry pi.

@gnanet my app already creates a log in the log folder since the very first version !!!

[2018-04-17 19:55] stangri commented on #28
@anselal don't really use twitter, but I'm also @stangri there. There's a known issue now that the service cannot be stopped which I'd like to resolve in the near future and I'd like to get some feedback from others before you tweet about it tho.

@shotaatosh a cheap one -- no (well, GL-Inet used to make cheap 128Mb NAND routers, not sure if they still make them and if they're supported in the van

[2018-04-17 20:52] stangri commented on #28
@anselal it's a PROCD issue (or an issue of how I'm using PROCD ;)), I'll seek help from people who know more about PROCD and hopefully find a way to fix it. I'll be in touch.

[2018-04-19 02:41] brmcc commented on #71
I know this is sort of an old thread now but can anyone tell me where to put the files since the monitor has it's own built in http server?

[2018-04-19 05:12] anselal commented on #71
@brmcc Login screen will be part of the next release so please stay tuned !!!

[2018-04-19 12:59] stangri opened #89 "Command line arguments support"
As we've discussed previously, would be great if you could make the `antminer-monitor` command-line friendly. That would greatly improve the quality of the OpenWrt init script and the integration with the standard OpenWrt settings, might also help create better init scripts for desktop Linuxes.

You can use [getopt](https://docs.python.org/2/library/getopt.html) (or getopts if available for python

[2018-04-21 18:39] jvalentinero opened #90 "V9 Wrong hashrate Unit"
THE V9 SHOWS MY SPEED AS PH/S, NOT TH/S.
AND TEMPERATURE IS OFF BY 20 DEGREES - SHOWING 70 WHEN IT'S AT 50 IN THE ANTMINER SCREEN.

[2018-04-23 07:27] anselal commented on #90
Showing PH/s instead of TH/s is probably a configuration error. Try to update line

https://github.com/anselal/antminer-monitor/blob/498edf9265ae129bd2d038ed3ce88d01d1a3f269/app/views/antminer.py#L44

and change TH/s to GH/s and let me know if that fixed your issue so I can apply a patch.

About the temperatures I am not sure why that happens in your case. Can you attache here a screenshot of the

[2018-04-23 07:31] anselal commented on #89
@stangri I will see if I can implement this. By default you can set setting either via environment variables or adding them to the config/settings.py or instance/settings.py file.

I will look if I can somehow override Flask's run command to add command line arguments although I guess this is not something most users will use... maybe I am wrong ;)

[2018-04-23 07:32] anselal commented on #87
Yes, but I will add it in the next release ;)

[2018-04-23 07:33] anselal commented on #87
Is the hashrate showing up correctly when you add your T9+ as a T9 ?

[2018-04-23 08:49] hzfmining opened #91 "Remote monitoring"
Thanks for the application and the hard work. Can this application be used for remote monitoring and to send alerts.

[2018-04-23 10:51] alaaelmahdy commented on #42
for S9 please consider the alert after 85 degrees as it works fine till 90's and stop mining at 110's for L3 65 is the Alert zone as it works fine till 70 and will stop mining at 90

[2018-04-23 11:09] anselal commented on #42
@alaaelmahdy exactly my thought but for the L3+ I think 70+ degrees is preferred alert  zone

[2018-04-23 12:03] AndreyNag commented on #75
I understand you have a lot of work to do. Is there a scenario how to add support for new miners? I want to try to add support for Pantech miners myself.

[2018-04-23 12:33] anselal commented on #75
You will have to check keys form the JSON you pasted above and create variables so you can render them.
Usually miners from the same brand have the same output format so it is easier to add new miners.
From what I managed to see Pantech has different keys so I will have to create a new method to parse the output. I will take some time.
You are welcome to experiment if you have the knowledge and I

[2018-04-23 14:45] stangri commented on #89
@anselal -- I do not suppose it will be user-facing feature, but it would make the init scripts much easier to create, at least for OpenWrt.

[2018-04-23 14:45] stangri commented on #87
Sorry, can no longer test it, but as far as I remember the only error was incorrect number of chips.

[2018-04-23 18:59] anselal commented on #90
Unfortunately no attached files here. Please drag n drop them here

[2018-04-23 19:10] alaaelmahdy opened #92 "Builtins.keyerror "pools""
![image](https://user-images.githubusercontent.com/38655530/39147703-0b0fba7a-4743-11e8-89cd-d5a0e04feb36.png)

[2018-04-23 19:24] jvalentinero commented on #90
there you go partner. thanks for looking at it.

[2018-04-24 06:27] anselal commented on #90
I was sure this was causing the confusion. I am displaying the CHIP temp but the status page of your miner only shows the PCB (board temperature), so there is nothing to fix here ;)

I will only have to fix the hashrate unit !!! Sorry for that..

[2018-04-24 06:31] anselal commented on #92
Duplicate #36

[2018-04-24 06:31] #92 closed

[2018-04-25 19:44] alaaelmahdy opened #93 "Email Notification Request"
I tried to make a mail notification using flask mail but i failed , it's better to leave it to the pro

https://www.twilio.com/blog/2018/03/send-email-programmatically-with-gmail-python-and-flask.html

https://www.tutorialspoint.com/flask/flask_mail.htm

[2018-04-26 07:02] anselal commented on #93
Duplicate #19

[2018-04-26 10:09] alaaelmahdy commented on #19
Thank you @pedrosimao  for the solution, did you find out how to send only one mail ,i actually tried the Boolean attribute with a big failure.

[2018-04-30 13:21] Kgroop opened #94 "Restart from dashboard (New feature)"
It will great to restart the miners from the dashboard.

Thanks for this awesome open source

[2018-04-30 13:55] anselal commented on #94
Duplicate #1

[2018-04-30 13:55] #94 closed

[2018-04-30 20:15] Arunachalamramaswamy opened #95 "Email notification is not working from Windows 10 machine"
I have installed the Rundeck 2.10.8-1 version on my Windows 10 Machine, everything is working fine exception the email notification. Not sure what is missed in my Rundeck installation or missing some setup is my Windows server. But I have validated send email functionality in my windows server using Powershell.

Please advise on this.

I have installed same Rundeck version on Linux server and emai

[2018-05-01 02:34] jvalentinero opened #96 "Support for Antminer X3"
I can help you - i have one right now.
looks like the a3 info is good for temperature watching.
it's 230 kh/s.
thank you.

[2018-05-01 02:40] jvalentinero opened #97 "worker area takes too much screen."
i'm mining ETN and it's wallet address is a 98 characters - and that pushes the whole screen over to the right because the space it uses in the worker field.
can you make it wrap at like 55 or give us the option to wrap it at x characters we want.
thanks

[2018-05-02 19:46] shotaatosh opened #98 "debugger error"
I actually have no idea what this error is about, I even wiped everything and added. Also increased socket timeout but nothing helps.

`Traceback (most recent call last):
  File "C:\Python27\lib\site-packages\flask\app.py", line 1997, in __call__
    return self.wsgi_app(environ, start_response)
  File "C:\Python27\lib\site-packages\flask\app.py", line 1985, in wsgi_app
    response = self.handle_

[2018-05-03 05:25] anselal commented on #96
Need more info. Check #51 to see the info I need.

[2018-05-03 05:26] anselal commented on #97
I will fix this in the next releases when I update the table design

[2018-05-03 05:29] anselal commented on #98
Try to increase the socket.timeout until the error is gone.

Duplicate #33

[2018-05-03 05:29] #98 closed

[2018-05-03 05:30] #93 closed

[2018-05-03 05:31] #73 closed

[2018-05-03 16:43] Arunachalamramaswamy commented on #95
Hi,

You are meaning that email notification is not yet implemented in windows
installation? So only way is I need to create custom scripts to send email
?

Thanks,
Arun

On Thu, May 3, 2018 at 12:22 AM Anastasios Selalmazidis <
notifications@github.com> wrote:

[2018-05-04 07:36] anselal commented on #95
Email notifications are not implemented yet in my software for any operating system.
This feature will be available in the next releases.

[2018-05-06 23:19] voljumet opened #99 "Add Pool URL"
Is it possible to add the URL field? would be nice to see what pool the miner is working on.
and if it's possible to have presets with different pools that you can change miners, one at the time, or many at once

[2018-05-07 19:16] brmcc commented on #85
Here is the output of the Dragonmint B29 / Innosilicon D9.

The important info is on lines:
573-583 for board 1
1164-1174 for board 2
1755-1765 for board 3

Fan duty will be the same and is the percentage the fan is running at.  RPM speeds aren't listed on the webpage for the miner either.  The "temp" is the temperature shown on the web page and of course then you have the "num chips" and "num act

[2018-05-07 19:25] brmcc opened #100 "Support for Antminer B3"
Is it possible to add the B3?

I've attached API output..

This one is kind of different.  There are only 3 physical boards, but it shows 6 chains, each with 2 chips.  It also shows 6 temperatures for those chains.  I imagine this will be addressed in another firmware, but the webpage the miner shows the fans always at "0" but they are spinning.  The API shows 30600 so I'm not really sure what to

[2018-05-07 20:01] brmcc commented on #100
Added support temporarily for myself except for of course fans showing correctly, but this is due to the miner itself.

create_db.py:
models.append(MinerModel(model='B3', chips='2,2,2,2,2,2', temp_keys='temp2_', description='Tensority Miner 780 H/s'))

app/views/antminer.py:
add B3 to total_hash_rate_per_model =

app/templates/myminers.html:
add  'B3': 'H/s' to mapping

Once Bitmain fixes fan repo

[2018-05-08 07:42] anselal commented on #85
The info in the gist is not in JSON format. Did you follow the instruction from issues #51 and #84 ?

[2018-05-08 07:50] anselal commented on #99
Thank you for using AntminerMonitor.

Those are two separate requests but the second already exists:

 - Option to switch pool #46

It is easy to add this field but the table will become too large. I will see what I can do !!!

[2018-05-08 08:28] anselal commented on #96
Cool. Will add it in the next release so you can test it.

[2018-05-08 17:02] imar4ik opened #101 "Telegram alert"
If you nedd alert on telegram

`pip install telegram-send`

in antminer.py
`19# import telegram_send`

[code]

[2018-05-09 07:47] anselal commented on #101
Thanks but this needs a lot of configuration on the client.

[2018-05-13 20:02] Iseman commented on #87
Have checked it with my T9+ and it Shows the correct Hasrate unfortantly in PH/s instead of TH/s.

[2018-05-14 06:52] anselal commented on #87
Thank you for the feedback.. I will fix it..

[2018-05-16 23:04] jvalentinero commented on #90
Bitmain says there are no other chips.
I did research – if you  subtract 25 from the 3 chip temperatures for the v9, it will match all three of the chips.

Thank You

Joseph Valenti
Lascivio Est Res

Direct Tel. (914) 309 - 7718
E-mail: Jvalenti@nerolarp.com
http://NeroLarpOnline.com - Member DB
http://NeroLarp.com - NERO Resource site

From: Anastasios Selalmazidis
Sent: Tuesday, April 24, 2018 2

[2018-05-19 15:46] Iseman opened #102 "Debian rc.local start doesn´t work"
Hi,

I´m quite new to Linux but wanted to run Antminer Monitor on a Raspberry which works absolutley fine when Ich do start it via the SSH Session. But when I tried to bring it in the start procedure after reboot in the rc.local file it doesn´t start. following Error message is logged in the syslog:
May 19 15:42:08 raspberrypi rc.local[404]:   File "/home/pi/antmon/manager.py", line 1, in <module>

[2018-05-20 19:41] jwb6658 opened #103 "Support for Dragonmint T1"
Please add support for Dragonmint SHA-256 ASIC.

https://halongmining.com/api/

[2018-05-20 21:31] jwb6658 commented on #102
rc.local runs as sudoers. ensure you install the pip requirements under root.

drop this into rc.local then you can monitor the errors through the log file.

nohup python /home/pi/antminer-monitor/manager.py runserver >> /home/pi/antminer-monitor/errors-startup.log 2>&1 &

[2018-05-21 10:43] anselal commented on #103
Thank you for the API link but I will need more info in the specific miner, like number of boards and number of chips per board.

See #51 and #84

[2018-05-21 16:07] Iseman commented on #102
thanks for the hint! After executing the requirements command under sudo it works! Thanks.

[2018-05-22 11:07] #102 closed

[2018-05-22 11:08] anselal commented on #101
Could you provide a more detailed example of how to use this module, eg. how to define the recipient ?

Do you need a KEY to send messages to telegram ?

[2018-05-26 05:32] grguillen opened #104 "Feature requests"
Hi,

the program works fine, thanks for creating it. I would just like to recommend some features in order to make it even better:

Documentation:

- Make sure that people understands that a fresh installation requires the creation of a new db. In the documentation that can be found in a place that a windows user may skip.

Miners:

- I have X3s, which is not listed. I have seen that you are aware

[2018-05-28 07:39] stevensixfingers opened #105 "Add 10.5th T9 model"
Can add 10.5th model in? The chips is different with 12.5th model

[2018-05-29 05:33] anselal commented on #105
Duplicate #87

[2018-05-29 05:33] #105 closed

[2018-05-29 05:41] anselal commented on #104
Hi there @grguillen ,

thank you for the feedback and sorry for the late reply. Usually an issue is about only one think and not many so that the discussion won't get out of control.

Keep that in mind for the next one ;)

1. I have updated the documentation but haven't merged the changes yet
2. I will add the settings for the X3 probably in the next release. I hope you can then give some feedback

[2018-05-29 06:00] AndreyNag commented on #75
Ok. Give me some point to attention. What i have to looking for?

[2018-05-29 07:09] anselal commented on #75
All the processing happens in this method

https://github.com/anselal/antminer-monitor/blob/498edf9265ae129bd2d038ed3ce88d01d1a3f269/app/views/antminer.py#L22

You can check how I retrieve the information I want. Pantech may require further processing of the information..

Sorry I can't give you more details right now...

[2018-06-03 15:40] hansje69 opened #106 "latest release"
When will there be another update?

by the look of all the requests of which many were going to be in the next update, it seems it is still ## [v0.4.0] - 2018-02-28 which is more than 3 months ago.

Any idea when there will be a v0.5.0 ? or at least a v0.5.0beta ?

Cheers :)

[2018-06-04 07:14] anselal commented on #106
Hi there @hansje69,

there will definitely be another release of AntminerMonitor. I now I haven't pushed any new features in the last months due to lack of time. I am preparing a new version with some minor fixes, updated code, new miner support and maybe a login screen..

Please be patient

[2018-06-04 07:14] #106 closed

[2018-06-04 07:27] hansje69 commented on #106
Will this also include the option to access remotely instead of locally?

Locally it works as a charm with internal network ip’s, but I would love to
access it on my 4G mobile connection and access anywhere I am haha

I remember you said, only after it has built in safety features such as
login panel, so when you mention for next update it has login panel, will
it be able also to access remotely ?

[2018-06-04 07:31] anselal commented on #106
To access your AntminerMonitor remotely you have just to config your router, it has nothing to do with my software.

I just said that it is not safe since there is no login screen. On the other hand since my software do not have any features that can alter your miner's config it is not much of a risk but I totally discourage you to do it since you will expose info to the public.

I think that in t

[2018-06-05 08:44] errand opened #107 "Miners groups"
Hello!
Thank you for this great soft!
And all the guys who already opened most feature requests i wanted to add!
The only thing i wanted to add is the option to group miners and in future to give access to group.
Wish you luck, health and donations to continue :)

[2018-06-05 09:40] anselal commented on #107
Thank you very much for your kind words.

Group miners is a feature which is available in the datatables.net plugin which I will include in the next releases.

Giving access to specific miners to a group of people is something completely different but is in the logic I want to include in my software.

Thank you for the idea !!!

This needs some work so I will leave this for future updates ;)

[2018-06-22 13:26] ClaudiuPRO opened #108 "Add a notification on zero hashrate"
Hi Anselal,

I've noticed that I get rows highlighted (in red) only if Chips are down.
But in my case the chips are ok, but the miner is not working (not mining).
Can you set also this feature to mark in red if the miner is not doing the hashrate specified?
![2018 06 22 - anselal s9 no hashing](https://user-images.githubusercontent.com/40493846/41778934-e0a40db6-7638-11e8-9854-ce5dd3c06d04.jpg)

[2018-06-24 20:04] errand commented on #108
Hello @ClaudiuPRO !
I'm sure @anselal is busy creating antminer-monitor V2, so if you don't mind here is the code snippet to fix the issue:
`if ghs5s == 0:
                error_message = "[ERROR] '{}' Miner is not working '{}'.".format(Xs, miner.ip)
                logger.error(error_message)
                flash(error_message, "error")
                errors = True
                miner_errors.

[2018-06-26 07:04] anselal commented on #108
@ClaudiuPRO This is a really strange case that the miner is showing zero hashrate.

Thank you @errand for the solution. I will fix this in the next release

[2018-06-29 09:20] anselal opened #109 "Fix Antminer T9 showing PH/s instead of TH/s"

[2018-06-29 10:05] anselal commented on #100
I think you got the chip count wrong at `models.append...`. It should be `...,chips='4,4,4',...` since the miner has 3 boards and a total of 12 chips...

[2018-06-29 10:09] anselal commented on #100
Your gist is unreadable. Can you paste it in json format ?
Also did bitmain fix the issue with the boards showing as 6 instead of 3 ?

[2018-06-29 10:15] anselal commented on #108
I was in the middle of creating per miner settings which include custom hashrate alerts for each miner.
You can see my tweet at https://twitter.com/AntminerMonitor/status/968638542078513152

[2018-06-29 10:21] #87 closed

[2018-06-29 10:21] #90 closed

[2018-06-29 10:21] #96 closed

[2018-06-29 10:21] #109 closed

[2018-07-02 08:10] anselal commented on #80
@sergioclemente I did some refactoring on the code and pushed the changes.

Next I will try to add the User blueprint and then add email notifications.

[2018-07-04 07:34] papampi opened #110 "Server running at localhost"
Last commit server was running at 0.0.0.0:5000
Now its running on 127.0.0.1:5000 and cant be opened from remote locations,
Can you please let us know where to edit to rollback to 0.0.0.0 ?

[2018-07-04 08:12] papampi commented on #60
Is the setting commit available in v 0.4.0 ?

[2018-07-04 08:51] anselal commented on #110
Sorry about that. I forgot to add this to the README

You can set the ip and port at runtime with the following command:

[code]

I have updated the docs.

Thank you for the feedback @papampi

[2018-07-04 08:52] #110 closed

[2018-07-04 08:59] anselal commented on #60
@papampi Sorry no. I'll try to add it in the next release but due to time limitations it takes longer than I expected..

[2018-07-04 09:03] papampi commented on #60
No worries and no rush.
Just saw its from long ago, thought I am missing some thing

[2018-07-04 09:04] anselal commented on #60
I have the code ready I need to merge it and test it..

Thanks for the understanding !!

[2018-07-04 09:12] papampi commented on #60
Would be a good idea to add refresh time setting as well.
I edited mine in main.js to 1200

[2018-07-06 18:22] faddat opened #111 "Add devices by IP address range"
Hey, first off, thanks for antminer-monitor!  It's uncomplicated software that does its job well!

Second, we were curious about adding devices by IP address range, for example:

192.168.69.101-200: antminer S9
192.168.70.1-250: antminer L3

Or, is there a way to add these devices in a range using the command line that I just don't know about yet?

We might be able to add this functionality and su

[2018-07-07 19:24] TRingo1 opened #112 "WARNING high temperatures on [does not display ip address any more]"
I have updated to the current version, and the yellow warning does not display the miner ip address anymore.
![image](https://user-images.githubusercontent.com/21029332/42413973-c0fbf1be-81f9-11e8-839d-c90037538bc4.png)

[2018-07-08 08:04] anselal commented on #112
Actually you shouldn't get both notifications.
Which version are you on ? The laters master or release 0.4.0 ?

[2018-07-08 11:52] TRingo1 commented on #112
Running the latest master

[2018-07-08 19:47] anselal commented on #112
I think I know where the error is. Will update it tomorrow. Thanks for the feedback

[2018-07-09 07:11] anselal commented on #112
I found the error but I don't know why this is happening. As you can see below I split the line because it was too long. No error shows up while running the app but the string appears incomplete.

https://github.com/anselal/antminer-monitor/blob/45236231a09f01394b48f3dd99cd55436d66853a/antminermonitor/blueprints/asicminer/views/antminer.py#L150-L151

I will search why this is happening and fix it.

[2018-07-10 12:01] anselal commented on #112
For some reason the line continuation does not seem to work. I applied a patch

[2018-07-10 12:02] #112 closed

[2018-07-10 12:04] anselal commented on #111
Thank you for using my software.

Since this is a duplicate, I close it and will comment on #7

[2018-07-10 12:05] #111 closed

[2018-07-10 12:08] anselal commented on #7
I have implemented a function which autodetects the miner type in a range of IP addresses and add them to the database but haven't create the UI yet.

I have tested it and it works great with known miner models.
So far the output of the function is only visible in the console. Will have to find a way to print it in some king of modal window.

Of course it would be much easier and quicker to define

[2018-07-23 05:31] anselal commented on #101
@imar4ik anything ???

[2018-07-23 05:41] imar4ik commented on #101
you need cread telegram bot
@BotFather
/newbot
"name_bot"

you get

Use this token to access the HTTP API:
442932741:AAGIBZeHev3I5d0S_cWszEWDDSAFA8Ft9uac

[code]

[code]
Please add "name_bot" on Telegram (https://telegram.me/name_bot) and send it the password:
 **43165**

go
https://telegram.me/name_bot

**START**
 **43165**

[2018-07-23 05:43] imar4ik commented on #101
**Sorry for the delay** :-(

[2018-07-23 05:48] anselal commented on #101
Will check it out.

thnx

[2018-07-25 23:06] dhellis opened #113 "Support for E3"
Would love to see both the Bitmain E3 and Z9 added

[2018-07-26 05:39] dhellis commented on #113
I will be very happy to provide feedback, Thank you for your consideration

[2018-07-26 15:38] dhellis commented on #113
I don't have the full blown Z9, I own the Z9 mini. I don't think the Z9 full version has actuall
shipped to anyone yet

[2018-07-27 00:35] anselal commented on #113
So I can add only support for the z9 mini and tbe E3. I will close this issue and open new separate ones.

[2018-07-27 00:37] dhellis commented on #113
That works for me and thank you for your time

[2018-07-28 11:55] errand opened #114 "Help with checking miner model"
Hello @anselal ! You're doing great thanks!
While i'm still learning could you please advise how to check the miner model because i'd like to reboot S9 which is probably damaged and goes to 8Gh/s in a while.
Currently i'm dong this:
`if(miner.model.model == "S9"):
                if ghs5s < 12:
                    rebootit(miner.ip) #custom reboot function using paramiko`

[2018-07-28 12:51] anselal commented on #114
Thank you !!!

This looks correct.

[2018-07-28 19:06] errand commented on #114
Ahaha! You're right man, except S9s are in TH/s so the right code is `if(miner.model.model == "S9"): if ghs5s < 12000: rebootit(miner.ip) #custom reboot function using paramiko`
Thanx!

[2018-07-28 19:08] anselal commented on #114
No problem. Can you share the code for rebooting to compare it with mine ?

[2018-07-28 19:12] errand commented on #114
Sure. I'm sure it's not the best. I think it is better to write ips to the file and reboot them via cron..

`import paramiko

def rebootit(ip):
    ssh = paramiko.SSHClient()
    ssh.set_missing_host_key_policy(paramiko.AutoAddPolicy())
    ssh.connect(ip, username='root', password='jetttt', allow_agent=False, look_for_keys=False, timeout=40)
    try:
        stdin, stdout, stderr = ssh.exec_comma

[2018-07-28 19:14] anselal commented on #114
Thnx. I will compare it with mine and reply

[2018-07-28 19:16] errand commented on #114
Sure. I'm sure it's not the best. I think it is better to write ips to the file and reboot them via cron..

`import paramiko

def rebootit(ip):
ssh = paramiko.SSHClient()
ssh.set_missing_host_key_policy(paramiko.AutoAddPolicy())
ssh.connect(ip, username='[REDACTED]', password='[REDACTED]', allow_agent=False, look_for_keys=False, timeout=40)
try:
stdin, stdout, stderr = ssh.exec_command("/sbin/rebo

[2018-07-29 08:32] emx0r commented on #113
Hi, I updated the scripts locally to have a support for z9 mini and E3, it works well.
The only problem is that E3 does not return Device Hardware% in STATS query so most likely it'll need a bit of rewrite to fetch it from SUMMARY. I did not have much time to play with it so for now I just set hw errors to 0.

[2018-07-30 20:57] se56 commented on #103
Hello Anastasios
number of boards 3
number of chips per board 21x3=63

[2018-07-30 20:59] se56 commented on #103
![default](https://user-images.githubusercontent.com/41927244/43423260-978729bc-9454-11e8-9b22-d162521477c5.png)

[2018-07-30 21:00] se56 commented on #103
![default](https://user-images.githubusercontent.com/41927244/43423318-c5ac1316-9454-11e8-959c-82f8c1868b9f.png)

[2018-07-30 21:03] se56 commented on #103
![default](https://user-images.githubusercontent.com/41927244/43423427-1776897e-9455-11e8-8193-771b6cd439dd.png)

[2018-08-04 12:12] anselal opened #115 "Add a restore feature for the database"
Create a backup of the database before every change, add a new miner or change miner settings.
Give the user the ability to restore to a previous point in case something goes wrong.

[2018-08-06 09:18] Pirojava opened #116 "config_lits_of_miners"
May be instead of registering one-by-one miners in program interface
it would be better to upload config.txt (xml) file with full miners list
<IP Address>, <Model>, <Remarks>
....
ecc

[2018-08-06 11:06] anselal commented on #116
This is possible, but i have a batch add funtion comming

Στις Δευ, 6 Αυγ 2018, 12:18 ο χρήστης Pirojava <notifications@github.com>
έγραψε:

[2018-08-31 07:07] davitosadze opened #117 "API Allow"
Hello Anselal, please provide me how can i add API Allow for Miner restart or more (*) marked functions i need this, how can i contact you ?

[2018-08-31 07:12] anselal commented on #117
Thank yo for using my software !!!

Adding this functionality is not so easy so I can just tell you. Besides that, there is already another open issue for `restart` and `shutdown`.

This is a duplicate issue. Please check #1

[2018-08-31 07:12] #117 closed

[2018-08-31 07:19] anselal opened #118 "Interface always shows 1st pool worker"
There is a bug in the software in which it always filters the 1st worker and NOT the active worker.

[2018-08-31 08:00] davitosadze commented on #117
I'm developer i just need api allow, did you make api allow ? for switchpool or other functions ?

[2018-08-31 08:10] anselal commented on #117
There are two ways to do that. The one is via ssh and just reboot the miner and the other is via the cgminer API.
For the second you need the api_allow.
Please check #1 and post your questions there.

[2018-08-31 08:33] davitosadze commented on #117
I saw that, but how can i add api_allow code ?

[2018-08-31 08:34] anselal commented on #117
Please don't post here anymore..

[2018-08-31 08:36] anselal commented on #1
@davitosadze Please post your questions here about restarting/shutting down the miner

[2018-08-31 08:45] anselal commented on #1
@davitosadze You can find all cgminer parameters here https://github.com/ckolivas/cgminer/blob/master/API-README

API-ALLOW is enabled by default an all Antminers.

[2018-09-09 14:15] feikiss opened #119 "How can you get the miner status without login to the miner?"
Actually, this is just a question and should be marked as 'help wanted' :<).
I just wonder how could the tool get the miner status without login to the miner, I checked the code but   I could not find where to login to the antminer.. Could anyone help to answer me?

[2018-09-09 14:43] anselal commented on #119
It uses the cgminer api.

[2018-09-09 14:43] #119 closed

[2018-09-11 04:43] #118 closed

[2018-09-11 11:47] anselal opened #120 "Flask migrate does not work due to relative database dir"
Flask-Migrate needs the full path of the database. The way we set it right now is with relative path which does not work.

Adding something like a `basedir` variable for the database uri should work.

[2018-09-11 11:48] #120 closed

[2018-09-12 04:02] louischristy commented on #113
Hi, where can i get the local scripts to support z9 mini?  Also, is there any where i can find a support to monitor Innosilicon T2T?

[2018-09-13 09:17] Hope4hope opened #121 "Support of Z9 mini"
Could you add the new antminers for monitoring them ?

[2018-09-13 10:03] anselal commented on #113
@louischristy There is another issue for z9 mini at #121

[2018-09-13 10:03] anselal commented on #121
Sure !!!

[2018-09-13 10:08] anselal commented on #121
Can you post a screenshot of the status page ?

[2018-09-13 10:09] anselal commented on #113
@louischristy Requests for other miner models are welcome. Please open another issue, one per request.

[2018-09-13 10:10] anselal commented on #113
@dhellis Can you post screenshots of the status pages of both miners ?

[2018-09-13 10:22] anselal opened #122 "Add menu bar"
Add a top menu bar for navigating.
Will be useful after more features will be added like login page and settings.

[2018-09-13 10:23] #122 closed, assigned to nobody

[2018-09-13 18:58] Hope4hope commented on #121
I didn't received yet, hope in several days will have it
Also as I see already on the net is a screenshoot
![o_1cgu2nia11eaj16dl1470vsr16ft14](https://user-images.githubusercontent.com/15231625/45509378-0d43d600-b7a0-11e8-8132-5cace798342b.jpg)

also here is the link [:](https://support.bitmain.com/hc/en-us/articles/360007579014-How-to-set-up-a-new-Z9-mini)

[2018-09-14 10:05] anselal commented on #113
@dhellis Your status page is strange according to bitmain's website.

 - The E3 is supposed to have 3 boards and a total of 18 chips with a hashrate of 190MH/s but your status page shows 9 boards of which a total of 18 chips and a hashrate of 115H/s.
And FYI some boards of yours are fried.

Are you sure that your E3 is working as expected ?

https://shop.bitmain.com/product/detail?pid=000201808311

[2018-09-14 10:06] anselal commented on #113
This issue will support only the E3 from now on.

For the Z9 mini see here #121

[2018-09-14 10:45] anselal opened #123 "Add hashrate conversion support for Equihash algorithm (KSol/s)"
Add hashrate conversion support for Equihash algorithm

[2018-09-14 10:48] #123 closed

[2018-09-14 16:45] dhellis commented on #113
Thanks for the heads up, this is the first crash I have seen on this machine, a simple
reboot restored it to normal working condition with 203 MH.

[2018-09-14 18:45] anselal opened #124 "Add default value on KeyError"
Some times the software cannot retrieve some values from the miner lije POOLS or HASHRATE and it result for the app to crash.

Adding an exception or a default value for that key may fix the bug.

[2018-09-16 19:31] anselal commented on #100
I think that the number of boards are indeed 3 but the chains are 6. That means that every board has 2 chains...

[2018-09-19 11:37] #71 closed

[2018-09-20 06:58] anselal commented on #113
Can I have some feedback if this is working ok ?

[2018-09-20 07:00] anselal commented on #80
@sergioclemente are you still part of this project ?

[2018-09-20 16:21] anselal commented on #113
I asked because another user stated that there is an error with the E3 in my software.
The E3 takes some time to warm up and load the DAG file. Until then it is not hashing and the miner does not return some of the data causing the app to crash.

Can you add the E3 and wait some time and then try again to access the app ?
If this works I know how to fix it

[2018-09-20 16:41] dhellis commented on #113
No problem, I added the E3, it crashed and will give it some time before trying to run again and
then report back to you

[2018-09-20 16:58] dhellis commented on #113
No luck, still crashed

File "C:\Program Files (x86)\Python37-32\lib\site-packages\flask\app.py", line 2309, in __call__

return self.wsgi_app(environ, start_response)

File "C:\Program Files (x86)\Python37-32\lib\site-packages\flask\app.py", line 2295, in wsgi_app

response = self.handle_exception(e)

File "C:\Program Files (x86)\Python37-32\lib\site-packages\flask\app.py", line 1741, in handle_e

[2018-09-20 17:01] dhellis commented on #121
Added Z9 to the antminermonitor and it works great.
Thank you for adding it

[2018-09-20 17:04] anselal commented on #113
Strange, this should not have been the error. Please try again later...

[2018-09-20 17:09] dhellis commented on #113
Yes, it is strange. Running Windows 10 Python 3.7, followed all of the instruction on the main page
including adding the login credentials. Program was installed using Windows administration privleges

[2018-09-20 17:18] anselal commented on #113
No, it is a communication and error and the data are not parsed corretly. Will fix it tomorrow and hopefully it will work...

[2018-09-20 17:27] dhellis commented on #113
thank you

[2018-09-21 03:35] anselal commented on #113
In your previous error the monitor couldn't get the active pool because the E3 hasn't started mining. Obviously it needs more time to warmup.

[2018-09-21 03:40] dhellis commented on #113
The E3 has been mining for 6 days since last reboot. But, also the error that I pasted ocassionally
happens with the other miners. After adding the E3 and crashing I did another fresh install and it
would crash while adding the miners back. However it seems to be working okay now (except for the e3)

[2018-09-21 07:40] #33 closed

[2018-09-22 02:36] lhz7797251 opened #125 "TypeError: environment can only contain strings"
C:\antminer-monitor-master>python manage.py run -h 127.0.0.1 -p 5000
 * Serving Flask app "antminermonitor/app.py:create_app()" (lazy loading)
 * Environment: development
 * Debug mode: on
 * Restarting with stat
Traceback (most recent call last):
  File "manage.py", line 286, in <module>
    cli()
  File "C:\ProgramData\Anaconda2\lib\site-packages\click\core.py", line 722, in
__call__
    return

[2018-09-23 17:14] anselal commented on #72
@carlcbilodeau I fixed the bug that always showed the first miner and now it always shows the active miner.
The bug was fixed with at 1035377. See #118
Are you OK with that ? Can I close this issue ?

[2018-09-26 12:43] velikovmartin commented on #101
It is working.
1) download and register telegram client (https://telegram.org)
2) send a message to botfather (https://telegram.me/botfather) with text `/newbot` and after that you follow the instructions and create your bot (ex.: antminer-moitor_bot) and this will give you a token like in the @imar4ik post.
3) you have to find your bot from telegram search and text it with `/start`
4) then `pip i

[2018-09-26 22:32] shadowmatrix369 commented on #101
Thank you for your help and response. I will give this a try tomorrow.

On Wed, Sep 26, 2018, 5:44 AM blindman <notifications@github.com> wrote:

[2018-09-28 13:01] anselal commented on #113
@dhellis I will push some changes and close this issue. Please provide some feedback here if you can after the update

[2018-09-28 13:02] #113 closed

[2018-09-28 13:03] #124 closed

[2018-09-28 13:05] #114 closed

[2018-09-28 13:15] #78 closed

[2018-09-28 19:13] dhellis commented on #113
This latest update seems to work just fine. I know it took some time but I am very
happy with the results.

THANK YOU!!

[2018-09-29 20:37] shadowmatrix369 commented on #101
This works flawlessly tank you for the help. I am reworking the error flash messaging to direct the if statements about temperatures, chip failures to the bot and so far have the bot producing ip address for each unit in the monitor that is having an issue. This gives access to whomever is allowed to communicate with the bot a message that links each unit with issues as well as shows anyone checki

[2018-10-01 13:14] anselal opened #126 "Disable access to login page when already logged in"
There is no reason for the login page to be accessible when the user is already logged in.
To fix this, check in the user.login blueprint if the user is already logged in and if so redirect to the main page.

[2018-10-01 13:20] #126 closed

[2018-10-02 11:26] HelixiR opened #127 "Added miner S9 with OC"
File "/usr/local/lib/python2.7/dist-packages/flask/app.py", line 2309, in __call__

    def __call__(self, environ, start_response):
        """The WSGI server calls the Flask application object as the
        WSGI application. This calls :meth:`wsgi_app` which can be
        wrapped to applying middleware."""
        return self.wsgi_app(environ, start_response)

    def __repr__(self):
        r

[2018-10-02 11:53] anselal commented on #127
No clue what this all means. It seems that the response from the miner is not in JSON.
I don't own a Z9 so I can't reproduce this.
The only way is to gain access to your raspberry pi and try to debug it

[2018-10-02 16:52] anselal commented on #127
besides that, I haven't added support for the Z9 yet

[2018-10-04 07:02] anselal commented on #127
Sorry about the last comment.
Is this a new S9 or an older one ?

[2018-10-04 07:03] anselal commented on #125
This is a very risky task to be automated.

[2018-10-04 07:06] anselal commented on #116
This is kinda a duplicate request. See #7

[2018-10-04 07:06] #116 closed

[2018-10-04 07:09] anselal opened #128 "Add Slack norifications"
Slack notifications are very easy to implement, it's like 10 lines of code.
This poll shows that most users prefer it over telegram https://twitter.com/AntminerMonitor/status/1046817977709080576

[2018-10-04 08:02] anselal opened #129 "Add format @cli.command"
The format @cli.command uses `isort` to sort the imports and `yapf` to format the code.
This must be called before we stage python files.

[2018-10-04 08:05] #129 closed

[2018-10-04 10:46] anselal opened #130 "Validate input for IP address"
We should validate the input on all forms to avoid db injections.
HTML has the option to define a `pattern` attribute for input tags like:

[code]

[2018-10-04 10:54] anselal commented on #130
Also we should add a title attribute to customise the tooltip message on error:

[code]

[2018-10-04 19:06] #130 closed

[2018-10-05 07:00] anselal commented on #101
Another sample at https://www.marcodena.it/blog/telegram-logging-handler-for-python-java-bash/

[2018-10-05 10:15] papampi opened #132 "[ERROR] Invalid username or password"
It gives me error on v0.5
Any idea how to solve it?

[2018-10-05 10:16] #132 closed

[2018-10-05 10:17] papampi commented on #132
Fixed
Had to do create_admin

[2018-10-05 10:18] anselal commented on #132
Exactly !! I was just writing it to U !!!

[2018-10-05 10:23] papampi opened #133 "Change warning temp"
I changed warning temp in v0.4 from 80 to 90
Now I can not find where it was in v0.5

Can you help me please?

[2018-10-05 10:29] papampi commented on #133
Found it

[2018-10-05 10:29] #133 closed

[2018-10-05 10:30] papampi commented on #133
If any was looking for its in:
antminermonitor/blueprints/asicminer/views/antminer.py

[2018-10-07 15:02] aerialsindasky2 commented on #103
Has t1 been added yet?

[2018-10-07 15:16] anselal commented on #103
Sorry not yet. Will work on that within this week.

[2018-10-07 23:28] aerialsindasky2 commented on #103
Sweet! I have a few t1s if you need anything for testing let me know.

[2018-10-10 09:29] kee4834 commented on #30
Hi,

Any guide setup for debian?

Thx in advance

[2018-10-10 10:55] errand commented on #30
For Debian I can give you a contact of system administrator ;)

[2018-10-10 11:07] kee4834 commented on #30
OK TQ

[2018-10-10 11:45] errand commented on #30
@kee4834 , boris.syomov[amp]gmail.com His name is Boris, really nice guy.

[2018-10-10 11:55] anselal commented on #30
@kee4834
The installation instructions are for debian too !!!

[2018-10-10 11:55] anselal commented on #30
Just follow the README

[2018-10-21 11:13] pes0 opened #134 "Hostname instead of IP address"
Previous versions allowed to enter hostname in ip address.
now in version 0.5 it must be an ip address.

Please change back to allow hostnames again in IP Address field

My miners are all set to dynamically retrieve IP addresses and are reached by the
hostname inside the lan.

Thank you very much #

[2018-10-21 12:13] anselal commented on #134
I added the ip validation for security because adding something invalid
could break the application. You can always remove the validation by
editing the line
https://github.com/anselal/antminer-monitor/blob/b7f75c84ffc0a2883eb2a92a0136bc5d8d9ede37/antminermonitor/blueprints/asicminer/templates/asicminer/home.html#L26

and removing the pattern attribute.

Στις Κυρ, 21 Οκτ 2018, 14:13 ο χρήστης pes0

[2018-10-26 08:52] Roddy1219 opened #135 "V9 unit is GH/s"
Hello  V9 unit is GH/s ！

[2018-10-26 08:53] anselal commented on #135
Hi there. Thanks. I will apply a patch !!!

[2018-10-26 19:00] adstek opened #136 "HW error rate %"
The HW error rate does not work on any of my L3+ miners.
and yes, there are some of them that have errors, but it still just says 0.0 or -0.0 on them

[2018-10-29 01:18] asulpizi opened #137 "crash after adding the 18th device"
I tried it a few times and same result.  As soon as I save teh 18th one it crashes (see traceback / error below).

C:\Users\dac\AppData\Local\Programs\Python\Python36-32\antmon>python manage.py run -h 0.0.0.0 -p 5001
 * Serving Flask app "antminermonitor/app.py:create_app()" (lazy loading)
 * Environment: development
 * Debug mode: on
 * Restarting with stat
 * Debugger is active!
 * Debugger PIN:

[2018-10-29 04:53] anselal commented on #137
What model is the miner you are adding ?

[2018-10-30 10:41] red0bear opened #138 "Unknown machine support to recognize"
hi there.

I'm testing your tool and works good .. sometimes give some exception but its ok. but i think could be necessary a feature to add unknown machines  without stay in red cause there is no choice algo yet.

Im looking for support to

Decred
L3++

[2018-10-30 12:13] red0bear opened #139 "KeyError: 'POOLS'"
Well i got error now ....

builtins.IndexError IndexError: list index out of range

[2018-10-30 19:45] anselal commented on #139
Need more info on that. Can you paste the complete error ?

[2018-10-30 19:46] red0bear commented on #139
How could do that ? Do you have a command line please ?

[2018-10-30 19:50] red0bear commented on #139
127.0.0.1 - - [30/Oct/2018 14:41:32] "GET / HTTP/1.1" 500 -
Traceback (most recent call last):
  File "/usr/lib/python3.6/site-packages/flask/app.py", line 2309, in __call__
    return self.wsgi_app(environ, start_response)
  File "/usr/lib/python3.6/site-packages/flask/app.py", line 2295, in wsgi_app
    response = self.handle_exception(e)
  File "/usr/lib/python3.6/site-packages/flask/app.py", l

[2018-10-30 19:53] anselal commented on #138
There is no way to process data from an unknown model.
What exceptions do you sometimes face ? That shouldn't happen

[2018-10-30 19:53] red0bear commented on #139
builtins.KeyError

KeyError: 'POOLS'
Traceback (most recent call last)

    File "/usr/lib/python3.6/site-packages/flask/app.py", line 2309, in __call__

    return self.wsgi_app(environ, start_response)

    File "/usr/lib/python3.6/site-packages/flask/app.py", line 2295, in wsgi_app

    response = self.handle_exception(e)

    File "/usr/lib/python3.6/site-packages/flask/app.py", line 1741, in

[2018-10-30 19:56] red0bear commented on #138
Well ... decred inst listed in your app ..... i put some machines ... in another one .. because i need a list to monitoring..... so i need some custom way to add machines then ?

[2018-10-30 19:56] anselal commented on #139
Will look into that. I will need to add some exceptions and print some info about the miner like the IP Address so we have an ideawhich machine is causing tbe error

[2018-10-30 19:58] anselal commented on #138
If you want to add a specific miner model just open a new issue for each specific model and if  i need more info I will tell you.

[2018-10-30 19:59] #138 closed

[2018-11-01 14:22] red0bear opened #140 "DECRED ANTMINER SUPORT"
Well like you said ... i will open this issue to we see what you can do about it. but to help i need know what info you need to make this ?

[2018-11-02 07:34] anselal commented on #140
Which model is the decred miner ? Can't find it at bitmain's site

[2018-11-02 07:37] anselal commented on #135
I think I closed it in #90

Are you running an older version ?

[2018-11-02 07:38] anselal commented on #127
This is an old issue. Can you share some info here or shall I close it ?

[2018-11-02 07:40] anselal commented on #140
Do you mind sharing the output of:

http://127.0.0.1:5000/<miner_ip>/pools
http://127.0.0.1:5000/<miner_ip>/stats

[2018-11-02 11:20] red0bear commented on #140
****

[2018-11-02 11:21] red0bear commented on #140
builtins.TypeError

TypeError: Object of type 'timeout' is not JSON serializable
Traceback (most recent call last)

    File "/usr/lib/python3.6/site-packages/flask/app.py", line 2309, in __call__

    return self.wsgi_app(environ, start_response)

    File "/usr/lib/python3.6/site-packages/flask/app.py", line 2295, in wsgi_app

    response = self.handle_exception(e)

    File "/usr/lib/python3.6

[2018-11-02 12:07] adstek commented on #136
When I overclock the miners to much, the number of errors starts climbing, but on the monitor it still says 0.0% on some of the miners, and -0.0% on others.
But on my A3, there is a small percentage of errors(0.0835%), but they show up like expected.
Here is a screenshot from on of my L3+'s:
<img width="1135" alt="skjermbilde 2018-11-02 kl 12 55 26" src="https://user-images.githubusercontent.com/3

[2018-11-02 13:08] anselal commented on #136
The formula for the HW error rate (%) is:

[code]

This means in your case based on your screenshot you get:

39732 / (4496477635+73264850 + 39732 ) * 100 =>
39732 / 4569782217 * 100 =>
0

[2018-11-02 13:08] #136 closed

[2018-11-02 13:11] anselal commented on #139
This was closed with #124
Maybe you are running an older  version ?

[2018-11-02 13:19] red0bear commented on #139
im running the last version i get in git hub. Did you make some update right now ?

[2018-11-03 18:56] anselal commented on #137
Are you sure it is a S9 ? Justs it the older S9 model or the newer ones ?

Can you try it with Python 2.7 and let me know if it works ?

[2018-11-03 20:18] asulpizi commented on #137
It’s S9 13.5 shipped new  in March.   I tried 2.7 and same thing.  I had over 20 working for many moths on your .04 code.
The strange thing is it works fine as long as I don’t add more than 17.  All 20 S9 are the same.

[2018-11-04 15:11] asulpizi commented on #137
I did not intend to close this.  Please advise

[2018-11-04 16:37] anselal commented on #137
Another reason for this issue is your network setup and/or topology causing delays in the communication between the miners and the software.
Please try to increase the socket timeout in the lib/pycgminer.py file and let me know if that worked

[2018-11-04 16:38] anselal commented on #139
Please try to increase the socket timeout in the lib/pycgminer.py file and let me know if that helped

[2018-11-04 16:40] red0bear commented on #139
Ok.

[2018-11-05 11:42] anselal commented on #139
Any feedback ?

[2018-11-05 12:03] red0bear commented on #139
@anselal im so sorry ... i didnt get enough time time to see that. i will do soon. Im bit busy.

[2018-11-05 12:11] red0bear commented on #139
sock.settimeout(1) ????

[2018-11-05 12:28] anselal commented on #139
OK. Let it run for a couple of days and it fixes the error come back and close the issue

[2018-11-08 19:33] fcabrera1109 commented on #139
HI guys I have same issue it started once I added the last miner somewhere around 50 I did increase the socket as directed above and no change

[2018-11-08 19:35] red0bear commented on #139
@fcabrera1109 what version from python are you using ? i faced anothers errors but seem ok right now for me .

[2018-11-08 19:41] fcabrera1109 commented on #139
Python 2.7.5

[2018-11-08 19:43] red0bear commented on #139
@fcabrera1109  can you try python 3.6  ? im doing this on it.

[2018-11-08 19:43] fcabrera1109 commented on #139
let me try and install

[2018-11-08 19:51] fcabrera1109 commented on #139
python3.6 manage.py run -h 0.0.0.0 -p 5000 ran this got

File "manage.py", line 3, in <module>
    from flask.cli import FlaskGroup
ModuleNotFoundError: No module named 'flask'

[2018-11-08 19:52] red0bear commented on #139
Did you install are requirements ?

[2018-11-08 19:56] fcabrera1109 commented on #139
I believe so when I run "pip install flask". says all requirements already installed

[2018-11-08 19:58] fcabrera1109 commented on #139
yes all installed and got this when I try and load page

Traceback (most recent call last):
  File "/usr/lib/python3.6/site-packages/flask/app.py", line 2309, in __call__
    return self.wsgi_app(environ, start_response)
  File "/usr/lib/python3.6/site-packages/flask/app.py", line 2295, in wsgi_app
    response = self.handle_exception(e)
  File "/usr/lib/python3.6/site-packages/flask/app.py", line

[2018-11-08 19:58] red0bear commented on #139
hummmm .... i think some missing lib like me .... when i try install first time ... now you need do a work around to discover whats going on in package.

[2018-11-08 19:59] fcabrera1109 commented on #139
Do you've many miners? It ws working fine until the last one I added and broke page

[2018-11-08 20:06] red0bear commented on #139
in antminer.py make a change

pool for pool in miner_pools['POOLS']  if pool['Stratum Active']

to
@pool for pool in miner_pools['POOLS'] #if pool['Stratum Active']

and try again .

[2018-11-08 20:12] fcabrera1109 commented on #139
FYI I started with new DB and working again. I believe it a limitation of DB or code display when to many rows

[2018-11-08 20:12] anselal commented on #139
@red0bear commenting out the if statement will make the software always showing the 1st worker regardless if the miner has switched to the 2nd or 3rd pool

[2018-11-08 20:12] fcabrera1109 commented on #139
I will start adding again and see when it breaks

[2018-11-08 20:13] anselal commented on #139
My software has no limits !!!! The limit is the sky !!!!

[2018-11-08 20:15] red0bear commented on #139
@anselal limits is only money in your pocket to buy a good computer.

[2018-11-08 20:18] anselal commented on #139
Money is irelevant

[2018-11-08 20:30] fcabrera1109 commented on #139
@anselal any idea why its breaking at around 40 miners.  I think its not the actual active miner pane breaking it but the inactive/error one.

[2018-11-08 20:31] fcabrera1109 commented on #139
if that she case its 13-14 errors.

[2018-11-08 20:38] fcabrera1109 commented on #139
that worked!!

fixed it :)

[2018-11-08 20:40] red0bear commented on #139
@fcabrera1109 what ? :-)

[2018-11-08 22:05] anselal commented on #139
My software can handle hundreds maybe even thousands of miners.

[2018-11-08 22:06] anselal commented on #139
@fcabrera1109 feedback please

[2018-11-09 02:14] fcabrera1109 commented on #139
the change anselal had me make worked.

in antminer.py make a change

pool for pool in miner_pools['POOLS'] if pool['Stratum Active']

to
@pool for pool in miner_pools['POOLS'] #if pool['Stratum Active']

and try again .

[2018-11-09 06:16] anselal commented on #139
I explained abive why the code is wrong. It will show the wrong pool user if tje miner switches to other than the first.

I will taoe a look at it.

@fcabrera1109 what models are your miners ?

[2018-11-09 19:57] anselal commented on #139
This is why you need the if statement you deleted.

[2018-11-09 20:47] fcabrera1109 commented on #139
If I remove the # and unremarkable it it still gives same error,

[2018-11-09 23:50] red0bear commented on #139
@fcabrera1109  @anselal  well ... here i just make that and  i still get errors. But at least it recover from error. I see more a problem with exceptions.

[2018-11-10 01:31] red0bear commented on #139
@anselal this what you want is dangerous. i think we need another way to provide you what you need .

[2018-11-10 01:33] anselal commented on #139
I have done this many times. Sorry if you dont trust me but there is no other way.

[2018-11-10 01:34] red0bear commented on #139
Hehehe .... lets stay with error for while.

[2018-11-10 01:35] anselal commented on #139
As you wish

[2018-11-10 02:02] fcabrera1109 commented on #139
anselal I think the biggest issue is not the fact that there are bugs but the fact that the entire things breaks when something it does not like,.  I can't even go back and remove a miner that cause the issue I have to start from scratch.   Any idea why you didn't use mysql backend so I could login and delete a trebled miner from the db?

[2018-11-10 06:57] anselal commented on #139
As you say, if you want to delete a miner to fix the error tjan the problem is the miner and not the software.
Besides that you can edit the sqlite3 database too. In fact it is more easily as mysql.

And to answer your question, i used sqlite3 because it doesn't need any setup from the users side. You can point the database to a mysql if you want and it will work. It will also create the tables 4

[2018-11-28 13:17] red0bear commented on #140
https://file11.bitmain.com/shop-product/firmware/Antminer%20DR3/Manual/00720180927195619271eCLEJsga06CB/DR3%20Server%20Installation%20Guide.pdf

[2018-11-29 13:49] saeedaminifarahani opened #141 "error running v5"
hi when issue : python manage.py run -h 0.0.0.0 -p 5000
i get this message: typeerror enviroment can only contain strings

and quits.
please help

[2018-11-29 15:16] anselal commented on #141
Hi there. Try putting the host inside parentheses like "0.0.0.0"

[2018-11-29 18:37] saeedaminifarahani commented on #141
Hiit does not work . I attached the entire error .
Thanks saeed
    On Thursday, November 29, 2018, 6:46:33 PM GMT+3:30, Anastasios Selalmazidis <notifications@github.com> wrote:

Hi there. Try putting the host inside parentheses like "0.0.0.0"

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-11-29 20:00] saeedaminifarahani commented on #141
sorry I attached it here.
Best regards'Saeed
    On Thursday, November 29, 2018, 10:54:48 PM GMT+3:30, Anastasios Selalmazidis <notifications@github.com> wrote:

You didn't attach anything here

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-11-30 06:54] anselal commented on #141
Sorry, I still don't see anything on github

[2018-11-30 12:59] saeedaminifarahani commented on #141
I attached the error with this email.Shall I attach it elsewhere?
Saeed

    On Friday, November 30, 2018, 10:24:34 AM GMT+3:30, Anastasios Selalmazidis <notifications@github.com> wrote:

Sorry, I still don't see anything on github

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-11-30 13:00] anselal commented on #141
Please add it on this github issue https://github.com/anselal/antminer-monitor/issues/141
I don't see any attached image neither on the email or here

[2018-11-30 17:06] saeedaminifarahani commented on #141
![monitormaster error](https://user-images.githubusercontent.com/35309616/49303639-786b9180-f4df-11e8-938c-cfba63ea91ef.png)

[2018-11-30 17:21] anselal commented on #141
Actually host 0.0.0.0 and port 5000 are the default options so you can omit them.

[2018-12-01 09:58] saeedaminifarahani commented on #141
I still have the same error:

typeerror: enviroment can only contain strings

any help?

[2018-12-01 10:00] saeedaminifarahani opened #142 "typeerror: enviroment can only contain strings"
hi when issue : python manage.py run -h 0.0.0.0 -p 5000
i get this message: typeerror enviroment can only contain strings

I also tried
python manage.py

but I got the same error
and quits.

please help

[2018-12-14 17:49] gaia opened #143 "No such command "create_db"."
[code]

running the app works, and I can login (didn't run create_admin either, same error as above), but it obviously gets to a "table not found" error.

[2018-12-14 17:51] gaia opened #144 "Using Virtualenv"
I couln't get this to work using a virtualenv. I ended up installing all requirements with sudo.

is it supposed to work with virtualenv?

[2018-12-15 04:10] anselal commented on #144
Hi there,

it is working with both globally installed dependencies as well with virtualenv or pipenv.

[2018-12-15 04:10] #144 closed

[2018-12-15 04:13] anselal commented on #143
Be sure to have the latest version of AntminerMonitor installed.

If you type`python manage.py` you should get a list with all available options. Can you check ?

[2018-12-15 17:08] gaia commented on #143
I do get the list of options.

[2018-12-16 10:37] anselal commented on #143
Maybe a typo ?

[2018-12-16 22:07] gaia commented on #143
tried many times, copy and paste included. I am on Windows Linux Subsystem (?)

[2018-12-16 22:19] anselal commented on #143
You just mentioned that you are on WSL. Should be the first think you should have told.

Maybe it is a WSL related issue. It runs fine on Linux, Unix, Mac and Windows systems.

[2018-12-16 22:19] #143 closed

[2018-12-17 20:50] gaia commented on #143
same error on windows: https://i.imgur.com/GlmwX6H.png

i also tried it on mac, same error, but i have no screenshot (it was done before I tried it on WSL)

[2018-12-18 06:54] anselal commented on #143
According to your screenshot all the commands has been changed for some reason from an underscore (`_`) to a dash `-` so you have to run the following commands accordingly:

[code]

[code]

[code]

[2018-12-18 19:41] gaia commented on #143
the underscore comes from your instructions: https://i.imgur.com/u6JnhpM.png
thank you for your help!

[2018-12-18 19:50] anselal commented on #143
Correct. It should be an underscore since it is defined so. Don't know why this is happening to you.

I am glad I helped. Donations are always welcome !!!

[2019-01-14 07:13] devilz696 commented on #139
Hi!  got same error at ~180 miner. Any working solutions?
Python 3.6.6

`Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/flask/app.py", line 2309, in __call__
    return self.wsgi_app(environ, start_response)
  File "/usr/local/lib/python3.6/dist-packages/flask/app.py", line 2295, in wsgi_app
    response = self.handle_exception(e)
  File "/usr/local/lib/python3.6

[2019-01-14 09:06] anselal commented on #139
@devilz696 According to your output it crashes while trying to filter the ASIC chips.

It could be due to socket timeout, error on miner API.
You could try to increase the socket timeout to a value like 5 or 10 like I describe above at https://github.com/anselal/antminer-monitor/issues/139#issuecomment-435684717

Please let me know if that helped.

@red0bear Any feedback ???

[2019-01-14 09:46] devilz696 commented on #139
@anselal tryed timeout = 10, nothing has changed :(

[2019-01-14 09:52] anselal commented on #139
@devilz696 did the error appear after you added a miner ?

Perhaps the miner's API has some issues

[2019-01-14 09:54] anselal commented on #139
If yes, there is a way to check if the API has indeed some issues.
Also, there is a way to remove the miner from the database if you know your way with python. If not I can assist you by connecting to your machine and remote the miner from the database

[2019-01-14 10:54] red0bear commented on #139
@anselal @devilz696 ... here still give error but after did change in code i can recover the error.

[2019-01-14 12:50] red0bear commented on #139
@anselal

the change anselal had me make worked.

in antminer.py make a change

pool for pool in miner_pools['POOLS'] if pool['Stratum Active']

to
@pool for pool in miner_pools['POOLS'] #if pool['Stratum Active']

and try again .

This solution still given error ... but you can recover and back to see machines .....

[2019-01-14 13:58] anselal commented on #139
@devilz696 can you try this ?

[2019-01-30 19:00] dhellis opened #145 "IndexError: list index out of range"
Your miner has been running great but for some reason it stopped working an now shows
this error. I even tried a fresh install but still not working

File "C:\Users\Scott\AppData\Local\Programs\Python\Python37\lib\site-packages\flask\app.py", line 2309, in __call__
return self.wsgi_app(environ, start_response)
File "C:\Users\Scott\AppData\Local\Programs\Python\Python37\lib\site-packages\flask\app.

[2019-01-30 21:19] dhellis commented on #145
Update, it appears that this problem is being caused as soon as I add the Antminer E3.
I was able to start over, created a new db, added all of the miners but as soon as I add
the E3 the program crashes.

Very odd because this had been working so nicely

[2019-02-06 20:11] red0bear commented on #41
i need erase a ip from db ..... could i get some help ?

[2019-02-07 06:27] anselal commented on #41
Hey @red0bear,

you can do it via python console but it a bit hard to explain here so the easiest way is to install sqlite3 and edit the database.
With basic sql you can then remove the entry from the `miner` table using:

[code]

[code]

[code]

Let me know if that helped !!

[2019-03-15 08:19] skarxxl commented on #60
Good day.
Was it implemented? In version v0.5.0 I can not find

[2019-03-27 23:45] dhellis opened #146 "Bug report"
I found a bug where if a machine (in my case an Antminer D3) was up but hash rate
was 0 (zero) the program would crash.

When looking at my web screen, I noticed the crash, tried to restart but no luck
so I deleted the db, created a new db then added machines again from scratch.
When I got to the D3 with the problem, the program crashed immediately.
Since the OS was running on that D3 I logged in,

[2019-04-28 14:57] TMit opened #147 "Support for Z9"
Could you add the Z9?
https://shop.bitmain.com/product/detail?pid=00020181031151713697IlUutg8206BC?

[2019-05-01 22:12] TMit opened #148 "How to SSH to Z9?"
I can not connect SSH (port22) using User "root" and PW "admin". anyone?

[2019-05-01 22:14] #148 closed

[2019-05-02 12:32] anselal commented on #148
I think for the ssh is root:root

[2019-05-06 05:38] anselal commented on #147
Can you paste the results of the following urls from your installation of antminer-monitor cause I need some overview? You can use https://pastebin.com/ to paste the output and just paste here the links

/<ip>/summary
/<ip>/stats

[2019-05-10 01:31] TMit commented on #147
https://pastebin.com/4tbrg3aW

[2019-05-10 01:34] TMit opened #149 "add multiple miners function"
Can you possible to add multiple miners by any ways? It's like a bulk insert with IP segment (192.168.1.0/24)

[2019-09-10 08:10] Omgthehorror opened #150 "sqlalchemy.exc.OperationalError"
I'm getting an error after I try and login with the default user admin/antminermonitor
`sqlalchemy.exc.OperationalError
OperationalError: (sqlite3.OperationalError) no such table: user
[SQL: SELECT user.id AS user_id, user.username AS user_username, user.email AS user_email, user.password_hash AS user_password_hash, user.surname AS user_surname, user.firstname AS user_firstname, user.active AS use

[2019-09-10 08:33] anselal commented on #150
Please read the readme.

You have to create the tables first.

https://github.com/anselal/antminer-monitor/blob/master/README.md#login-page

[2019-09-10 08:50] Omgthehorror commented on #150
I have used `python manage.py create-db` to create the DB and if I try again it returns [INFO] Database already exists.

By the way in the latest version commands for manage.py are with a dash instead of underscore as stated in the readme.

[2019-09-10 08:54] anselal commented on #150
My friend, again, read the readme.

Follow the link i just sent you. You have to create the admin account.

[2019-09-10 08:54] #150 closed

[2019-12-02 04:53] anselal commented on #141
A solution i found is to update python-dotenv cause it has some issues. You can do this with `pip install -U python-dotenv`

[2019-12-02 04:56] anselal commented on #135
Duplicate #90

[2019-12-02 04:56] #135 closed

[2019-12-02 04:57] #134 closed

[2019-12-04 15:33] anselal commented on #149
Duplicate #7

[2019-12-04 15:33] #149 closed

[2019-12-13 13:32] anselal opened #151 "Fix typo in asicminer view"
Fix typo at https://github.com/anselal/antminer-monitor/blob/946e78c214a8054b1eb0ad60e70281da2969ff9a/antminermonitor/blueprints/asicminer/asic_antminer.py#L114

[2019-12-13 13:35] anselal opened #152 "Get Hardware Error Rate from summary instead of stats"
Some Antminer models like the E3 and S17 do not return the `Hardware Error Rate` in the stats but only in the summary. To fix this swap lines
https://github.com/anselal/antminer-monitor/blob/dee617db435d30c8cf75d2331baaee6873a8609c/antminermonitor/blueprints/asicminer/asic_antminer.py#L124-L125

with

https://github.com/anselal/antminer-monitor/blob/dee617db435d30c8cf75d2331baaee6873a8609c/antmine

[2019-12-13 13:37] anselal opened #153 "Refactor asicminer view. Move code to a separate class or function"
In order to add support for more Miner brands like `Innosilicon` or `Dragonmint` we have to move the code to a separate class or function

[2019-12-13 13:38] anselal opened #154 "Support for Antminer S17"
https://shop.bitmain.com/promote/antminer_s17/overview

[2019-12-13 13:40] anselal opened #155 "Move miner models to a json file"
Separate app settings from the database.
Begin with moving miner models to a json file

[2019-12-18 20:19] anselal opened #156 "Support for Antminer S17 Pro"
https://shop.bitmain.com/promote/antminer_s17pro/overview

[2019-12-18 20:28] anselal opened #157 "Support for Antminer T17"
https://shop.bitmain.com/promote/antminer_t17/overview

[2019-12-18 20:47] anselal commented on #145
duplicate #139

[2019-12-18 20:53] #153 closed

[2019-12-18 20:53] #155 closed

[2019-12-18 20:53] #139 closed

[2019-12-18 20:53] #156 closed

[2019-12-18 20:53] #157 closed

[2019-12-18 20:56] anselal commented on #145
Closed via 946e78c

[2019-12-18 20:56] #145 closed

[2019-12-18 21:00] anselal commented on #154
Closed via a45dde67

[2019-12-18 21:00] #154 closed

[2019-12-18 21:08] #151 closed

[2019-12-18 21:28] #152 closed

[2019-12-18 21:43] anselal opened #158 "Update command line commands in docs"
Replace underscores with dashes when calling a click command according to https://github.com/pallets/click/issues/1123

[2019-12-18 21:46] #158 closed

[2020-01-06 20:03] anselal opened #159 "Support for Antminer Z11"

[2020-01-06 20:27] #159 closed

[2020-01-06 20:28] anselal opened #160 "Support for Antminer L3++"

[2020-01-06 20:31] #160 closed

[2020-01-06 21:12] anselal opened #161 "Fix markdown in README.md"

[2020-01-06 21:15] #161 closed

[2020-01-13 22:34] anselal opened #162 "Fix delete endpoint"
- [ ] Check if miner actually exists before trying to delete it
- [ ] Flash success message

[2020-01-13 22:36] #162 closed

[2020-01-21 12:17] anselal commented on #137
I close this issue due to inactivity. Feel free to reopen

[2020-01-21 12:17] #137 closed

[2020-01-21 12:20] anselal commented on #142
Duplicate #141

[2020-01-21 12:20] #142 closed

[2020-01-21 12:22] anselal commented on #30
I close this issue due to inactivity. Feel free to reopen

[2020-01-21 12:22] #30 closed

[2020-01-21 12:23] anselal commented on #146
I close this issue due to inactivity. Feel free to reopen

[2020-01-21 12:23] #146 closed

[2020-01-30 21:27] anselal opened #163 "json.decoder.JSONDecodeError in pycgminer"
Sometimes we get this error when querying a miner.
To fix this always check that the response is not empty.

[2020-01-30 21:32] anselal commented on #163
Closed via e7131c3c

[2020-01-30 21:32] #163 closed

[2020-01-30 21:36] anselal opened #164 "Minor bug in delete endpoint"
Replace `miner_ip` with `miner.ip`

[2020-01-30 21:38] #164 closed

[2020-01-30 21:40] anselal opened #165 "Replace delete image with UTF-8 Dingbat"
There is a nice UTF-8 icon referenced in https://www.w3schools.com/charsets/ref_utf_dingbats.asp

Replace `remove.png` image and replace it with CROSS MARK `&#10060;`

[2020-01-30 21:43] #165 closed

[2020-02-09 15:07] anselal opened #166 "Show actual error for inactive miners"
If a miner is `inactive` don't just show the static message `Error: Check connection or IP Address` but show the actual error returned by the exception

[2020-02-09 15:07] #166 closed

[2020-02-09 15:15] anselal commented on #127
Closing due to inactivity. Feel free to reopen

[2020-02-09 15:15] #127 closed

[2020-02-09 15:34] anselal commented on #100
Closed via c0d573d5

[2020-02-09 15:34] #100 closed

[2020-02-09 15:47] #28 closed

[2020-02-09 20:39] anselal opened #167 "Poll miners using threads"
Currently AntminerMonitor is using only one thread in the background while querying the miners.
Making use of threads will speed up querying significantly

[2020-02-09 21:36] #167 closed

[2020-02-09 22:13] #7 closed

[2020-02-17 10:25] anselal opened #168 "Use SQLAlchemy's declarative extension"
Get rid of Flask-SQLAlchemy extension and use SQLAlchemy's declarative extension according to Flask's documentation at https://flask.palletsprojects.com/en/1.1.x/patterns/sqlalchemy/#declarative

[2020-02-17 10:25] #168 closed

[2020-03-16 12:30] anselal opened #169 "TypeError: Object of type timedelta is not JSON serializable"
In newer versions of python the following line produces and error.
To fix it convert it to string.

https://github.com/anselal/antminer-monitor/blob/6f9803e891296c0c2807125128532f4d52024c0f/antminermonitor/blueprints/asicminer/asic_antminer.py#L115

[2020-03-16 12:35] #169 closed

[2020-04-17 19:44] hoomanhidaji opened #171 "Can i use app for Ebang Miner - E10.1 ?"
Hello
Thank you for you program. I want use program on Ebang miner E10.1 but i get this error
{
  "IP": "192.168.1.203",
  "STATUS": [
    {
      "STATUS": "error",
      "description": "timed out"
    }
  ]
}
Please help me.

[2020-04-17 19:57] anselal commented on #171
Hi there, usually this means that the miner does not accept api calls.

I will have to check the documentation of the miner. Can you provide any links?

[2020-04-17 20:01] hoomanhidaji commented on #171
Thank you for you replay . I have just
http://miner.ebang.com.cn/
--
Sent from Yahoo Email App for Android Saturday, 18 April 2020, 00:27am +04:30 from Anastasios Selalmazidis  notifications@github.com :

[2020-04-17 20:47] anselal commented on #171
Ol, I will have to take a look at that

[2020-05-09 11:26] ErnesTRKS opened #172 "Braiins OS answer/request"
Hi, One of my antminers S9 really needs this software but they no longer use Cgminer is there any way to configure this monitor to work with it?

[2020-05-11 08:28] anselal commented on #172
Hi there,

sorry for the late reply. What do they use instead of cgminer ? cgminer is the default software for miners. It could be that the miner has just disabled access toe cgminer's API.

I need more info on this

[2020-05-23 18:32] ark02 opened #173 "Module 'time' has no attribute 'clock'"
Looks like this method was deprecated in python 3.8

https://stackoverflow.com/questions/58569361/attributeerror-module-time-has-no-attribute-clock-in-python-3-8

 `Traceback (most recent call last):
  File "manage.py", line 2, in <module>
    from antminermonitor.app import create_app
  File "C:\Users\op\Downloads\antminer-monitor-0.5.0\antminer-monitor-0.5.0\antminermonitor\app.py", line 3, in <

[2020-05-25 08:07] anselal commented on #173
Hi there,

yes I am aware of that. Gonna need some time to figure out how to replace it.

For now just use an older version of python

[2020-06-14 12:56] chainworksindustries commented on #173
Same on this end for Fedora 32 x64 ...

What would be the process of configuring the package to use an earlier version when Fedora 32 has Python 3.8 installed as standard?

#crysx

[2020-06-14 13:47] chainworksindustries commented on #172
If it is the Braiins OS as stated, it will use the new BOSMiner instead ...

Braiins (Slush Devs) have written it from scratch and it is open source also.

#crysx